<mat-action-row class="flex flex-row gap-2">
    <button mat-raised-button color="warn" type="button" class="grow" (click)="cancelar()">
        <mat-icon>close</mat-icon>
        Cancelar
    </button>
    <button mat-raised-button color="primary" type="button" class="grow" (click)="aceptar()">
        <ng-container *ngIf="false; else cargando">
            <mat-icon>save</mat-icon>
            Aceptar
        </ng-container>
    </button>
</mat-action-row>

<ng-template #cargando>
    <mat-icon>
        <mat-progress-spinner mode="indeterminate" diameter="20" color="accent"></mat-progress-spinner>
    </mat-icon>
    Procesando...
</ng-template>

