<mat-drawer-container class="w-full">
    <mat-drawer class="w-96" [opened]="abrirPanel" [mode]="'side'" autoFocus="true" position="end">
        <app-mod-pbr (panel)="abrirPanel=false"></app-mod-pbr>
    </mat-drawer>
    <mat-drawer-content>
        <section class="flex flex-col flex-auto">
            <app-acciones-mir-pbr [habEmpleado]="true" [habCentroGestor]="true" (porCentroGestor)="filtrarCentroGestor($event)" (porEmpleado)="porEmpleado($event)">
                <ng-container acciones>
                    <mat-button-toggle-group>
                        <mat-button-toggle>
                            <mat-icon svgIcon="heroicons_outline:collection"></mat-icon>
                            Inicializar nuevo PBR
                        </mat-button-toggle>
                        <mat-button-toggle (click)="abrirPanel = true">
                            <mat-icon svgIcon="add"></mat-icon>
                            Nvo elemento PBR
                        </mat-button-toggle>
                        <mat-button-toggle>
                            <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
                            Imprimir
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </ng-container>
            </app-acciones-mir-pbr>

            <ng-container>
                <article class="flex flex-auto flex-col">
                    <app-lista-pbr></app-lista-pbr>
                </article>
            </ng-container>
        </section>
    </mat-drawer-content>
</mat-drawer-container>
