<mat-drawer-container class="w-full">
    <mat-drawer class="w-96" [opened]="abrirPanel" [mode]="'side'" autoFocus="true" position="end">
        <app-mod-pbr (panel)="abrirPanel=false" *ngIf="abrirPanel"></app-mod-pbr>
    </mat-drawer>
    <mat-drawer-content>
        <section class="flex flex-col flex-auto">
            <app-acciones-mir-pbr [habCentroGestor]="true" (planeacionSeleccionado)="seleccionarPlaneacion($event)" (centroGestor)="filCentroGestorPbr($event)">
                <ng-container acciones>
                    <button mat-flat-button color="accent">
                        <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
                        Imprimir
                    </button>
                </ng-container>
            </app-acciones-mir-pbr>

            <ng-container>
                <article class="flex flex-auto flex-col">
                    <app-lista-pbr (panel)="abrirPanel = true" [planeacion]="planeacion"></app-lista-pbr>
                </article>
            </ng-container>
        </section>
    </mat-drawer-content>
</mat-drawer-container>
