<form>
    <section class="flex flex-col flex-auto">
        <div class="flex flex-auto gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Marca</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Modelo</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Serie</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </section>
</form>
<app-registros></app-registros>
