<div class="flex flex-col flex-auto mt-8 bg-card shadow rounded overflow-hidden">
    <div class="p-3 bg-gray-50 dark:bg-gray-700">
        <p class="text-lg font-medium">Bomba instalada actualmente</p>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">serie:</div>
        <div>XALDO5253LDOR</div>
        <div class="text-secondary">Marca:</div>
        <div>DLLSOLD -- adasde</div>
        <div class="text-secondary">Modelo:</div>
        <div>MODELO-MOTOR</div>
    </div>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">No. Impulsores:</div>
        <div>XALDO</div>
        <div class="text-secondary">Rmp:</div>
        <div>3300</div>
        <div class="text-secondary">Tipo:</div>
        <div>Tipo de bomba</div>
    </div>
</div>
