<form [formGroup]="formComun">
    <section class="flex flex-col flex-auto">
        <mat-form-field class="flex-auto">
            <mat-label>Id indicador</mat-label>
            <input matInput formControlName="idIndicador" class="text-green-700">
            <mat-error>{{formComun.controls.idIndicador['errorMessage']}}</mat-error>
        </mat-form-field>
        <mat-form-field class="flex-auto">
            <mat-label>Dato</mat-label>
            <input matInput formControlName="dato">
            <mat-error>{{formComun.controls.dato['errorMessage']}}</mat-error>
        </mat-form-field>

        <div class="flex flex-auto gap-4 items-center content-center">
            <mat-form-field class="flex-auto">
                <mat-label>Trimestre 1</mat-label>
                <input matInput formControlName="trim1" class="text-green-700">
                <mat-error>{{formComun.controls.trim1['errorMessage']}}</mat-error>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Trimestre 2</mat-label>
                <input matInput formControlName="trim2" class="text-green-700">
                <mat-error>{{formComun.controls.trim2['errorMessage']}}</mat-error>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Trimestre 3</mat-label>
                <input matInput formControlName="trim3" class="text-green-700">
                <mat-error>{{formComun.controls.trim3['errorMessage']}}</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-auto">
                <mat-label>Trimestre 4</mat-label>
                <input matInput formControlName="trim4" class="text-green-700">
                <mat-error>{{formComun.controls.trim4['errorMessage']}}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex flex-auto gap-4 items-center content-center">
            <mat-form-field class="flex-auto">
                <mat-label>valor adicional</mat-label>
                <input matInput formControlName="valorAdicional" class="text-green-700">
                <mat-error>{{formComun.controls.valorAdicional['errorMessage']}}</mat-error>
            </mat-form-field>
            <mat-checkbox color="primary" (change)="establecerValorUnico($event)">Multiples valores</mat-checkbox>
        </div>
        <mat-checkbox color="primary" [disabled]="formComun.invalid" (change)="periodoAntCheck($event)">Obtener
            valores del periodo anterior
        </mat-checkbox>
    </section>
</form>

<form [formGroup]="formTrimAnterior" *ngIf="periodoAnt()">
    <section class="flex flex-col flex-auto">
        <div class="flex flex-auto gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Trimestre 1</mat-label>
                <input matInput formControlName="trim1">
                <mat-error>{{formTrimAnterior.controls.trim1['errorMessage']}}</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-auto">
                <mat-label>Trimestre 2</mat-label>
                <input matInput formControlName="trim2">
                <mat-error>{{formTrimAnterior.controls.trim2['errorMessage']}}</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-auto">
                <mat-label>Trimestre 3</mat-label>
                <input matInput formControlName="trim3">
                <mat-error>{{formTrimAnterior.controls.trim3['errorMessage']}}</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-auto">
                <mat-label>Trimestre 4</mat-label>
                <input matInput formControlName="trim4">
                <mat-error>{{formTrimAnterior.controls.trim4['errorMessage']}}</mat-error>
            </mat-form-field>
        </div>
    </section>
</form>
<form [formGroup]="formComponente">
    <section class="flex flex-auto gap-4 items-center content-center">
        <mat-form-field class="flex-auto">
            <mat-label>Selecciona el tipo de valor definido para los trimestres</mat-label>
            <mat-select formControlName="tipoValorTrim">
                <mat-option *ngFor="let valor of tipoValores" [value]="valor">{{valor}}</mat-option>
            </mat-select>
            <mat-error>{{formComponente.controls.tipoValorTrim['errorMessage']}}</mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto">
            <mat-label>Selecciona el tipo de valor en el que se mostraran los avances</mat-label>
            <mat-select formControlName="tipoValorAvance">
                <mat-option *ngFor="let valor of tipoValores" [value]="valor">{{valor}}</mat-option>
            </mat-select>
            <mat-error>{{formComponente.controls.tipoValorAvance['errorMessage']}}</mat-error>
        </mat-form-field>
    </section>
</form>

<app-registros (registro)="registrar()" [deshabilitar]="formComponente.invalid" (cancelar)="mdr.close()">
    <button mat-raised-button class="bg-green-700 flex-auto disabled:bg-accent" (click)="agregarAlArreglo()"
            [disabled]="formComun.invalid || formTrimAnterior.invalid">
        <mat-icon svgIcon="mat_solid:add_circle"></mat-icon>
        Agregar otro elemento
    </button>
</app-registros>
