<mat-card>
    <mat-card-content>
        <form [formGroup]="formComun">
            <mat-button-toggle-group class="flex flex-auto mb-2">
                <mat-button-toggle class="flex-auto">Asignar valor principal</mat-button-toggle>
                <mat-button-toggle class="flex-auto">Asignar valor adicional</mat-button-toggle>
            </mat-button-toggle-group>


            <section class="flex flex-col flex-auto">
                <mat-form-field class="flex-auto">
                    <mat-label>Id indicador</mat-label>
                    <input matInput formControlName="idIndicador">
                    <mat-error>{{formComun.controls.idIndicador['errorMessage']}}</mat-error>
                </mat-form-field>

                <mat-form-field class="flex-auto">
                    <mat-label>Dato</mat-label>
                    <input matInput formControlName="dato">
                    <mat-error>{{formComun.controls.dato['errorMessage']}}</mat-error>
                </mat-form-field>

                <div class="flex flex-auto gap-4 items-center content-center">
                    <mat-form-field class="flex-auto">
                        <mat-label>Trimestre 1</mat-label>
                        <input matInput formControlName="trim1">
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Trimestre 2</mat-label>
                        <input matInput formControlName="trim2">
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Trimestre 3</mat-label>
                        <input matInput formControlName="trim3">
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Trimestre 4</mat-label>
                        <input matInput formControlName="trim4">
                    </mat-form-field>
                </div>

                <mat-radio-group color="primary" (change)="cambioSeleccionRdb($event)" [disabled]="deshabilitarRadioBtn">
                    <mat-radio-button [value]="TiposFormulario.PERIODO_ANT">Obtener valores del periodo anterior</mat-radio-button>
                    <mat-radio-button [value]="TiposFormulario.CON_OTRO_ID_PBR">Agregar valores adicionales como parte de la tabla</mat-radio-button>
                </mat-radio-group>

            </section>
        </form>

    </mat-card-content>
    <mat-card-content *ngIf="tipoForm === TiposFormulario.PERIODO_ANT">
        <form [formGroup]="formTrimAnterior">
            <section class="flex flex-col flex-auto">
                <div class="flex flex-auto gap-4">
                    <mat-form-field class="flex-auto">
                        <mat-label>Trim. Ant 1</mat-label>
                        <input matInput formControlName="trim1">
                        <mat-error>{{formTrimAnterior.controls.trim1['errorMessage']}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Trim. Ant. 2</mat-label>
                        <input matInput formControlName="trim2">
                        <mat-error>{{formTrimAnterior.controls.trim2['errorMessage']}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Trim. Ant. 3</mat-label>
                        <input matInput formControlName="trim3">
                        <mat-error>{{formTrimAnterior.controls.trim3['errorMessage']}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Trim. Ant. 4</mat-label>
                        <input matInput formControlName="trim4">
                        <mat-error>{{formTrimAnterior.controls.trim4['errorMessage']}}</mat-error>
                    </mat-form-field>
                </div>
            </section>
        </form>
    </mat-card-content>


    <mat-card-content *ngIf="tipoForm === TiposFormulario.CON_OTRO_ID_PBR">
        <form [formGroup]="formAd">
            <section class="flex flex-col flex-auto">
                <mat-form-field class="flex-auto">
                    <mat-label>Id indicador</mat-label>
                    <input matInput formControlName="idIndicador">
                    <mat-error>{{formAd.controls.idIndicador['errorMessage']}}</mat-error>
                </mat-form-field>

                <mat-form-field class="flex-auto">
                    <mat-label>Dato</mat-label>
                    <input matInput formControlName="dato">
                    <mat-error>{{formAd.controls.dato['errorMessage']}}</mat-error>
                </mat-form-field>
            </section>
        </form>
    </mat-card-content>


    <mat-card-title>
        <mat-toolbar class="flex border-y-2 border-y-amber-300 my-4">
            <button mat-raised-button (click)="agregarAlArreglo()" class="flex-auto" color="primary">
                <mat-icon></mat-icon>
                Agregar a lista
            </button>
        </mat-toolbar>
    </mat-card-title>


    <mat-card-content>
        <form [formGroup]="formTipoValores">
            <section class="flex flex-auto flex-col">
                <div class="flex flex-auto gap-4 items-center content-center">
                    <mat-form-field class="flex-auto">
                        <mat-label>Selecciona el tipo de valor definido para los trimestres</mat-label>
                        <mat-select formControlName="tipoValorTrim">
                            <mat-option *ngFor="let valor of tipoValores" [value]="valor">{{valor}}</mat-option>
                        </mat-select>
                        <mat-error>{{formTipoValores.controls.tipoValorTrim['errorMessage']}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Selecciona el tipo de valor en el que se mostraran los avances</mat-label>
                        <mat-select formControlName="tipoValorAvance">
                            <mat-option *ngFor="let valor of tipoValores" [value]="valor">{{valor}}</mat-option>
                        </mat-select>
                        <mat-error>{{formTipoValores.controls.tipoValorAvance['errorMessage']}}</mat-error>
                    </mat-form-field>
                </div>
                <!--                <fuse-alert [type]="'info'" [appearance]="'outline'" class="my-4">-->
                <!--                    <span fuseAlertTitle>Forma de realizar calculos</span>-->
                <!--                    1.- Da click en las variables que estan en la parte-->
                <!--                </fuse-alert>-->
<!--                <mat-button-toggle-group multiple (change)="agregarAFormula($event)">-->
<!--                    <mat-button-toggle *ngFor="let id of ids" [value]="id">{{id}}</mat-button-toggle>-->
<!--                </mat-button-toggle-group>-->

                <mat-form-field>
                    <mat-label>Formula para calcular avance trimestral</mat-label>
                    <input matInput formControlName="formula">
                    <mat-error>{{formTipoValores.controls.formula['errorMessage']}}</mat-error>
                </mat-form-field>
            </section>
        </form>
    </mat-card-content>

    <mat-card-title>
        <mat-toolbar class="flex border-y-2 border-y-amber-300 my-4 gap-4">
            <button mat-raised-button class="flex-auto" color="warn" (click)="cancelar()">
                <mat-icon svgIcon="mat_solid:cancel"></mat-icon>
                Cancelar
            </button>
            <button mat-raised-button class="flex-auto" color="primary">
                <mat-icon svgIcon="mat_solid:save"></mat-icon>
                Registrar componente
            </button>
        </mat-toolbar>
    </mat-card-title>
</mat-card>
