<div class="flex flex-col">
    <mat-form-field>
        <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let ref of referencias" (removed)="remove(ref)">
                {{ref}}
                <button matChipRemove [attr.aria-label]="'remove' + ref">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            <input placeholder="Referencia" #entradaRef [formControl]="refCtrl" [matChipInputFor]="chipGrid" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event)"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let ref of refFiltrados | async" [value]="ref">
                    {{ref}}
                </mat-option>
            </mat-autocomplete>
        </mat-chip-grid>
    </mat-form-field>
    <app-registros (registro)="asignar()" (cancelar)="cerrar()" [cargando]="cargando" [deshabilitar]="cargando"></app-registros>
</div>
