<ng-container *ngIf="(entityTelemetria.state$ | async) as inst">
    <article class="flex flex-col flex-auto p-4" *ngIf="inst.instalacion" @zoomIn>
        <section class="tarjeta-mat">
            <mat-card class="bg-gray-300 dark:bg-gray-800">
                <mat-card-header class="tarjeta-mat-cabecera border-b-yellow-400">
                    <span class="text-lg font-medium">Instalacion {{inst.instalacion.instalacion.nombre | uppercase}}</span>

                </mat-card-header>
                <mat-card-content>
                    <section class="flex flex-col flex-auto">
                        <div class="grid grid-cols-8 gap-4 p-3">
                            <span class="detalle-span">Instalacion:</span>
                            <span>{{inst.instalacion.instalacion.nombre}}</span>
                            <span class="detalle-span">Direccion:</span>
                            <span class="col-span-3">{{inst.instalacion.instalacion.direccion}}</span>
                            <span class="detalle-span">Tipo:</span>
                            <span>{{inst.instalacion.instalacion.tipoInstalacion}}</span>

                            <span class="detalle-span">Profundidad:</span>
                            <span>{{inst.instalacion.instalacion.profPozo}}</span>
                            <span class="detalle-span">Ademe:</span>
                            <span>{{inst.instalacion.instalacion.diamAdeme}}</span>
                            <span class="detalle-span">Diam Columna:</span>
                            <span>{{inst.instalacion.instalacion.diamCol}}</span>
                            <span class="detalle-span">Long Columna:</span>
                            <span>{{inst.instalacion.instalacion.longCol}}</span>
                        </div>
                        <mat-divider class="my-4 border-2 border-yellow-400"></mat-divider>

                        <fuse-alert [appearance]="'border'" [type]="'accent'" [showIcon]="false" class="my-2">
                            <span class="text-xl">Lista de mediciones dinamicas de los pozos</span>
                        </fuse-alert>
                        <app-lista-mediciones-dinamica-estatica [dataSource]="dataSourceDinamico" (fila)="filaSelec($event, 'instalacion.nivelDinamico')"></app-lista-mediciones-dinamica-estatica>
                        <mat-divider class="my-4 border-2 border-yellow-400"></mat-divider>
                        <fuse-alert [appearance]="'border'" [type]="'basic'" [showIcon]="false" class="my-2">
                            <span class="text-xl">Lista de mediciones estaticas de los pozos</span>
                        </fuse-alert>
                        <app-lista-mediciones-dinamica-estatica class="mb-4" [dataSource]="dataSourceEstatico" (fila)="filaSelec($event, 'instalacion.nivelEstatico')"></app-lista-mediciones-dinamica-estatica>
                    </section>
                </mat-card-content>
                <mat-card-actions class="tarjeta-mat-acciones border-t-yellow-400">
                    <div class="flex flex-auto items-center justify-between">
                        <button mat-raised-button color="primary" (click)="agregarNvaMedicion(inst.instalacion._id, 'instalacion.nivelDinamico')" [id]="ctrlNvaMedicionDin" [disabled]="ctrlNvaMedicionDin | navegacionPermiso: 'ctrl'">
                            <mat-icon>add</mat-icon>
                            Inicializar medicion dinamica
                        </button>
                        <button mat-raised-button color="primary" (click)="agregarNvaMedicion(inst.instalacion._id, 'instalacion.nivelEstatico')" [id]="ctrlNvaMedicionEst" [disabled]="ctrlNvaMedicionEst | navegacionPermiso: 'ctrl'">
                            <mat-icon>add</mat-icon>
                            Inicializar medicion estatica
                        </button>
                        <button mat-raised-button color="accent" (click)="editarInfo()" [id]="ctrlEditarInstalacion" [disabled]="ctrlEditarInstalacion | navegacionPermiso: 'ctrl'">
                            <mat-icon class="mr-5" svgIcon="edit"></mat-icon>
                            Editar informacion
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </section>
    </article>
</ng-container>
