<div class="flex flex-col flex-auto bg-card shadow rounded overflow-hidden">
    <div class="p-3 bg-gray-50 dark:bg-gray-700">
        <p class="text-lg font-medium">Instalaciones</p>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">Instalacion:</div>
        <div>Nombre de la instalacion aqui</div>
        <div class="text-secondary">Direccion:</div>
        <div>Direccion de la instalacion</div>
    </div>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">Profundidad:</div>
        <div>55 mts</div>
        <div class="text-secondary">Ademe:</div>
        <div>66</div>
        <div class="text-secondary">Diam Columna:</div>
        <div>45</div>
        <div class="text-secondary">Long Columna:</div>
        <div>100</div>
    </div>
</div>
