<section class="flex flex-auto gap-8">

    <div class="flex flex-auto flex-col">
        <div class="flex flex-auto items-center gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Centro gestor</mat-label>
                <input matInput [formControl]="ctrlCentroGestor">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="agregarCentroGestor()">
                <mat-icon svgIcon="add"></mat-icon>
            </button>
        </div>
        <app-list-drop-seleccion esLista="true" tipoArreglo="centroGestor"></app-list-drop-seleccion>
    </div>

    <div class="flex flex-auto flex-col">
        <div class="flex flex-auto items-center gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Unidad</mat-label>
                <input matInput [formControl]="ctrlUnidad">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="agregarCentroGestor()">
                <mat-icon svgIcon="add"></mat-icon>
            </button>
        </div>
<!--        <app-list-drop-seleccion esLista="true" tipoArreglo="unidad"></app-list-drop-seleccion>-->
    </div>


    <div class="flex flex-auto flex-col">
        <div class="flex flex-auto items-center gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Variable</mat-label>
                <input matInput [formControl]="ctrlVariable">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="agregarCentroGestor()">
                <mat-icon svgIcon="add"></mat-icon>
            </button>
        </div>
<!--        <app-list-drop-seleccion [esLista]="true" tipoArreglo="variable"></app-list-drop-seleccion>-->
    </div>
</section>
