<mat-drawer-container class="w-full">
    <mat-drawer class="w-2/4" position="end" autoFocus="false" [opened]="empleadoService.getPanel | async" mode="side">
        <app-detalle-empleado></app-detalle-empleado>
    </mat-drawer>
    <mat-drawer-content>
        <div class="flex flex-col">
            <div class="flex consultas">
                <mat-form-field class="basis-5/12">
                    <mat-label>Filtrar empleados</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="flex-auto">
                <app-lista-Empleados></app-lista-Empleados>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
