<mat-dialog-actions class="flex gap-4 items-center mt-4">
    <button mat-flat-button color="warn" type="button" class="flex-auto" (click)="cerrar()" [disabled]="_cargando">
        <mat-icon class="mr-2">cancel</mat-icon>
        Cancelar
    </button>
    <button mat-flat-button color="primary" type="button" class="flex-auto" (click)="reg()" [disabled]="_deshabilitar">
        <ng-container *ngIf="!_cargando; else cargando">
            <mat-icon class="mr-2">save</mat-icon>
            Aceptar
        </ng-container>
    </button>
</mat-dialog-actions>

<ng-template #cargando>
    <mat-icon class="mr-2">
        <mat-progress-spinner mode="indeterminate" diameter="20" color="accent"></mat-progress-spinner>
    </mat-icon>
    Procesando...
</ng-template>
