<section class="flex flex-auto gap-4 items-center bg-zinc-900 border-t-primary p-4 border-t-4 -mx-6 -mb-6">
    <button mat-flat-button color="warn" type="button" class="flex-auto" (click)="cerrar()" [disabled]="_cargando">
        <div class="flex items-center justify-center">
            <mat-icon svgIcon="cancel"></mat-icon>
            <span class="ml-3">Cancelar</span>
        </div>
    </button>
    <ng-content>

    </ng-content>
    <button mat-flat-button color="primary" type="button" class="flex-auto" (click)="reg()" [disabled]="_deshabilitar">
        <ng-container *ngIf="!_cargando; else cargando">
            <div class="flex items-center justify-center">
                <mat-icon svgIcon="save"></mat-icon>
                <span class="ml-3">Aceptar</span>
            </div>
        </ng-container>
    </button>
</section>

<ng-template #cargando>
    <div class="flex items-center justify-center">
        <mat-icon>
            <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
        </mat-icon>
        <span class="ml-3">Procesando...</span>
    </div>
</ng-template>
