<mat-drawer-container class="w-full">
    <mat-drawer class="w-96" [opened]="abrirPanel" mode="side" autoFocus="true" position="end">
        <ng-container *ngIf="abrirPanel">
            <app-mod-mir (panel)="abrirPanel = false"></app-mod-mir>
        </ng-container>
    </mat-drawer>
    <mat-drawer-content>
        <app-acciones-mir-pbr [habCentroGestor]="true" (centroGestor)="filCentroGestorMir($event)">
            <ng-container acciones>
                <mat-button-toggle-group>
                    <mat-button-toggle (click)="regSeleccion()" value="bold">
                        <mat-icon svgIcon="add"></mat-icon>
                        Agregar lista de opciones
                    </mat-button-toggle>
                    <mat-button-toggle (click)="inicializarPlaneacion()">
                        <mat-icon svgIcon="heroicons_outline:collection"></mat-icon>
                        Inicializar nuevo mir
                    </mat-button-toggle>
                    <mat-button-toggle>
                        <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
                        Imprimir
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </ng-container>
        </app-acciones-mir-pbr>
        <article class="flex flex-col flex-auto">
            <app-lista-tab-mir (abrirPanel)="abrirPanel = true"></app-lista-tab-mir>
        </article>
    </mat-drawer-content>
</mat-drawer-container>
