<article class="flex flex-col flex-auto py-4">
    <div class="consultas">
        <div class="flex flex-auto justify-between items-center gap-8">
            <mat-form-field class="flex-auto">
                <mat-label>Filtrar por año</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Filtra por direccion</mat-label>
                <mat-select (valueChange)="cambio($event)">
                    <mat-option [value]="centro" *ngFor="let centro of centrosGestores">{{centro}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button>
                <mat-icon>add</mat-icon>
                Registrar MIR
            </button>
            <button mat-raised-button>
                <mat-icon>add</mat-icon>
                Registrar MIR
            </button>
            <button mat-raised-button>
                <mat-icon>add</mat-icon>
                Registrar MIR
            </button>
            <button mat-raised-button>
                <mat-icon>add</mat-icon>
                Registrar MIR
            </button>
            <button mat-raised-button (click)="regSelecciones()">
                <mat-icon>add</mat-icon>
                Agregar selecciones
            </button>
        </div>
    </div>
    <mat-card class="bg-gray-300 dark:bg-gray-800 m-4">
        <mat-card-header class="tarjeta-mat-cabecera border-b-orange-300">
            <span class="text-xl">MIR</span>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions class="tarjeta-mat-acciones border-t-orange-300">

        </mat-card-actions>
    </mat-card>
</article>
