<section class="bg-gray-400 flex flex-col">
<div>texto</div>
</section>
    <ng-container *ngIf="entityEmpleado.entitiesArray$ | async as empleados" ngxUiLoaderBlurred>
        <ng-container *ngIf="empleados.length > 0; else noHayEmpleados">
            <ng-container *ngFor="let empleado of empleados; let i = index; trackBy: trackByFn">
                <!-- Contact -->
                <a class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b hover:bg-amber-100 dark:hover:bg-gray-600" (click)="seleccionarEmpleado(empleado)">
                    <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                        <ng-container *ngIf="empleado.avatar">
                            <img class="object-cover w-full h-full" [src]="empleado.avatar" alt="Avatar"/>
                        </ng-container>
                        <ng-container *ngIf="!empleado.avatar">
                            <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                {{empleado.nombreCompleto.charAt(0)}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="min-w-0 ml-4">
                        <div class="font-medium leading-5 truncate">{{empleado.nombreCompleto}}</div>
                    </div>
                </a>
            </ng-container>
        </ng-container>
    </ng-container>


<ngx-ui-loader [loaderId]="listaEmpleados"></ngx-ui-loader>
<ng-template #noHayEmpleados>
    <fuse-alert type="info" appearance="border" class="p-8">
        <span fuseAlertTitle>Empleados</span>
        <span class="text-2xl">No se encontraron empleados para mostrar</span>
    </fuse-alert>
</ng-template>
