<ng-container *ngIf="entityEmpleado.entitiesArray && entityEmpleado.entitiesArray.length > 0; else sinDatos">
    <div class="flex-auto flex flex-col m-4 min-w-0 relative overflow-y-auto" ngxUiLoaderBlurred>
        <ng-container *ngFor="let empleado of entityEmpleado.entitiesArray$ | async; trackBy: trackByFn">
            <a class="z-20 flex items-center py-5 px-8 cursor-pointer border-b" [ngClass]="{
                                        'hover:bg-gray-100 dark:hover:bg-hover':!empleadoSeleccionado || empleadoSeleccionado._id !== empleado._id,
                                        'bg-primary-50 dark:bg-hover':empleadoSeleccionado &&     empleadoSeleccionado._id === empleado._id
                                    }">
                <div class="relative flex flex-0 items-center justify-center w-10 h-10">
                    <ng-container *ngIf="empleado.avatar">
                        <img class="avatar" [src]="empleado.avatar" alt="Avatar"/>
                    </ng-container>
                    <ng-container *ngIf="!empleado.avatar">
                        <div class="flex ring items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                            {{empleado.nombreCompleto.charAt(0)}}
                        </div>
                    </ng-container>
                </div>
                <div class="min-w-0 ml-4">
                    <div class="font-medium leading-5 truncate">
                        {{ empleado.nombreCompleto }}
                    </div>
                    <div class="leading-5 truncate text-secondary">
                        puesto
                    </div>
                </div>
            </a>
        </ng-container>
    </div>
</ng-container>
<ngx-ui-loader [loaderId]="listaEmpleados"></ngx-ui-loader>
<!--<div class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-90 lg:max-w-90 border-r z-10 bg-blue-800">-->
<!--    <div>lista</div>-->
<!--</div>-->
<ng-template #sinDatos>
    <app-sin-datos></app-sin-datos>
</ng-template>
