<article class="flex flex-col flex-auto gap-4">
    <h1 class="bg-zinc-900">que onda on esto</h1>
    <h1 class="bg-zinc-800">que onda on esto</h1>
    <h1 class="bg-zinc-700">que onda on esto</h1>
    <h1 class="bg-zinc-600">que onda on esto</h1>
    <h1 class="bg-zinc-500">que onda on esto</h1>
    <h1 class="bg-zinc-400">que onda on esto</h1>
    <h1 class="bg-zinc-300">que onda on esto</h1>
    <h1 class="bg-zinc-200">que onda on esto</h1>
    <h1 class="bg-zinc-100">que onda on esto</h1>
    <h1 class="bg-zinc-50">que onda on esto</h1>

    <h1 class="bg-neutral-900">que onda on esto</h1>
    <h1 class="bg-neutral-800">que onda on esto</h1>
    <h1 class="bg-neutral-700">que onda on esto</h1>
    <h1 class="bg-neutral-600">que onda on esto</h1>
    <h1 class="bg-neutral-500">que onda on esto</h1>
    <h1 class="bg-neutral-400">que onda on esto</h1>
    <h1 class="bg-neutral-300">que onda on esto</h1>
    <h1 class="bg-neutral-200">que onda on esto</h1>
    <h1 class="bg-neutral-100">que onda on esto</h1>
    <h1 class="bg-neutral-50">que onda on esto</h1>
</article>
