<table mat-table [dataSource]="_origenDatos" class="bg-transparent">
    <ng-container *ngFor="let columna of columnasTabla" [matColumnDef]="columna.def">
        <th mat-header-cell *matHeaderCellDef [width]="columna.width">{{columna.etiqueta}}</th>
        <td mat-cell class="text-amber-500" *matCellDef="let fila">{{fila[columna.def] | multiplesFormatos: columna.tipoDeDato}}</td>
        <td mat-footer-cell *matFooterCellDef class="bg-card">{{obtenerTotal(columna.def) | multiplesFormatos: columna.tipoDeDato}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasAMostrar;"></tr>
    <tr mat-footer-row *matFooterRowDef="columnasAMostrar"></tr>
</table>
