<table mat-table [dataSource]="_origenDatos">
    <ng-container *ngFor="let columna of columnasTabla" [matColumnDef]="columna.def">
        <th mat-header-cell *matHeaderCellDef [width]="columna.width">{{columna.etiqueta}}</th>
        <td mat-cell *matCellDef="let fila">{{fila[columna.llaveDato] | multiplesFormatos: columna.formato}}</td>
        <td mat-footer-cell *matFooterCellDef class="text-amber-500">{{obtenerTotal(columna.def) | multiplesFormatos: columna.formato}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasAMostrar;"></tr>
    <tr mat-footer-row *matFooterRowDef="columnasAMostrar"></tr>
</table>
