<article class="flex-auto flex-col p-4">
    <section class="flex flex-row-reverse p-4 bg-green-300 items-center border-2 rounded-lg bg-gray-300 dark:bg-gray-800">
        <mat-form-field class="basis-96">
            <mat-select>
                <mat-option value="option1">Empleado 1</mat-option>
                <mat-option value="option2">Empleado 2</mat-option>
                <mat-option value="option3">Empleado 3</mat-option>
                <mat-option value="option3">Empleado 4</mat-option>
                <mat-option value="option3">Empleado 5</mat-option>
            </mat-select>
        </mat-form-field>
    </section>

    <section class="flex-auto mt-8">
        <app-lista-mis-resguardos></app-lista-mis-resguardos>
    </section>
</article>
