<table mat-table>
    <ng-container matColumnDef="idIndicador">
        <th mat-header-cell *matHeaderCellDef>Indicador</th>
        <td mat-cell *matCellDef="let row">{{row.idIndicador}}</td>
    </ng-container>
    <ng-container matColumnDef="dato">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let row">{{row.dato}}</td>
    </ng-container>

    <ng-container matColumnDef="trim1" *ngIf="_colVisible.trim1">
        <th mat-header-cell *matHeaderCellDef>Trim1</th>
        <td mat-cell *matCellDef="let row">{{row.trim1}}</td>
    </ng-container>
    <ng-container matColumnDef="trim1Ant" *ngIf="_colVisible.trim1Ant">
        <th mat-header-cell *matHeaderCellDef>Ant1</th>
        <td mat-cell *matCellDef="let row">{{row.trim1Ant}}</td>
    </ng-container>
    <ng-container matColumnDef="trim1Ad" *ngIf="_colVisible.trim1Ad">
        <th mat-header-cell *matHeaderCellDef>Ad1</th>
        <td mat-cell *matCellDef="let row">{{row.trim1Ad}}</td>
    </ng-container>

    <ng-container matColumnDef="trim2" *ngIf="_colVisible.trim2">
        <th mat-header-cell *matHeaderCellDef>Trim2</th>
        <td mat-cell *matCellDef="let row">{{row.trim2}}</td>
    </ng-container>
    <ng-container matColumnDef="trim2Ant" *ngIf="_colVisible.trim2Ant">
        <th mat-header-cell *matHeaderCellDef>Ant2</th>
        <td mat-cell *matCellDef="let row">{{row.trim2Ant}}</td>
    </ng-container>
    <ng-container matColumnDef="trim2Ad" *ngIf="_colVisible.trim2Ad">
        <th mat-header-cell *matHeaderCellDef>Ad2</th>
        <td mat-cell *matCellDef="let row">{{row.trim2Ad}}</td>
    </ng-container>


    <ng-container matColumnDef="trim3" *ngIf="_colVisible.trim3">
        <th mat-header-cell *matHeaderCellDef>Trim3</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>
    <ng-container matColumnDef="trim3Ant" *ngIf="_colVisible.trim3Ant">
        <th mat-header-cell *matHeaderCellDef>Ant3</th>
        <td mat-cell *matCellDef="let row">{{row.trim3Ant}}</td>
    </ng-container>
    <ng-container matColumnDef="trim3Ad" *ngIf="_colVisible.trim3Ad">
        <th mat-header-cell *matHeaderCellDef>Ad3</th>
        <td mat-cell *matCellDef="let row">{{row.trim3Ad}}</td>
    </ng-container>


    <ng-container matColumnDef="trim4" *ngIf="_colVisible.trim4">
        <th mat-header-cell *matHeaderCellDef>Trim4</th>
        <td mat-cell *matCellDef="let row">{{row.trim4}}</td>
    </ng-container>
    <ng-container matColumnDef="trim4Ant" *ngIf="_colVisible.trim4Ant">
        <th mat-header-cell *matHeaderCellDef>Ant4</th>
        <td mat-cell *matCellDef="let row">{{row.trim4Ant}}</td>
    </ng-container>
    <ng-container matColumnDef="trim4Ad" *ngIf="_colVisible.trim4Ad">
        <th mat-header-cell *matHeaderCellDef>Ad4</th>
        <td mat-cell *matCellDef="let row">{{row.trim4Ad}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
