<section class="flex flex-col flex-auto min-w-0" @zoomIn>
    <mat-toolbar color="accent" class="flex flex-auto border-b-4 border-b-cyan-500 items-center pt-5 gap-4">
        <mat-form-field class="flex-auto" *ngIf="seleccionQuery.select() | async as seleccion">
            <mat-select (valueChange)="filCentroGestor($event)" placeholder="Selecciona un centro gestor">
                <mat-option *ngFor="let centroGestor of seleccion.centroGestor" [value]="centroGestor">{{centroGestor}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-auto">
            <mat-select (valueChange)="pbrSeleccionado($event)" placeholder="Selecciona un departamento">
                <mat-option *ngFor="let pbr of planeacionQuery.compCuestionarioPbr()" [value]="pbr">{{pbr.dato}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-auto" *ngIf="planeacionQuery.compSumatoriasPbr().length > 0">
            <mat-select (valueChange)="sumatoriaSeleccionada($event)" placeholder="Selecciona una sumatoria">
                <mat-option *ngFor="let sumatoria of planeacionQuery.compSumatoriasPbr()" [value]="sumatoria">{{sumatoria.descripcion}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar>

    <article class="flex-auto p-2 sm:p-4">
        <div class="h-400 min-h-400 max-h-400">
            <article class="flex flex-col flex-auto">
                <mat-tab-group [(selectedIndex)]="indice" (selectedIndexChange)="cambioIndice($event)">
                    <mat-tab label="Form comun">
                        <ng-container *ngIf="indice === 0">
                            <app-mod-comp-comun></app-mod-comp-comun>
                        </ng-container>
                    </mat-tab>
                    <mat-tab label="Form PTAR">
                        <ng-container *ngIf="indice === 1">

                        </ng-container>
                    </mat-tab>
                </mat-tab-group>
            </article>

        </div>
    </article>
</section>
