<ng-container *ngIf="(entityDepto.entitiesArray$ | async) as deptos" ngxUiLoaderBlurred>
    <section class="flex flex-row flex-auto flex-wrap justify-center gap-10">
        <div class="my-2 tarjeta-mat basis-2/5" *ngFor="let depto of deptos">
            <mat-card class="bg-gray-300 dark:bg-gray-800">
                <mat-card-header class="tarjeta-mat-cabecera border-b-rose-500 text-xl">
                    <div class="flex flex-auto justify-between items-center">
                        <span>{{depto.nombre}}</span>
                        <div>
                            <button mat-icon-button color="warn" matTooltip="Editar nombre del departamento" (click)="editar(depto)">
                                <mat-icon svgIcon="edit"></mat-icon>
                            </button>
                            <button mat-icon-button color="primary" matTooltip="Editar nombre del departamento" (click)="nuevoPuesto(depto)">
                                <mat-icon svgIcon="add"></mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-subtitle class="p-2 border-b-2"><span matTooltip="Centro gestor">{{depto.centroGestor}}</span></mat-card-subtitle>
                <mat-card-content class="py-2">
                    <mat-list role="list" *ngIf="depto.puestos.length > 0 && depto.puestos !== undefined">
                        <mat-list-item role="listitem" *ngFor="let puesto of depto.puestos">{{puesto}}</mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </section>
    <ngx-ui-loader [loaderId]="idLoader"></ngx-ui-loader>
</ng-container>
