<div class="flex flex-col gap-4">

    <mat-card class="flex-auto bg-gray-300 dark:bg-gray-800">
        <mat-card-header class="tarjeta-mat-cabecera border-b-cyan-500">
            <div class="flex flex-auto justify-between">
                <span class="text-xl">Sometimes science</span>
                <span class="text-xl">Fecha de revision: <b class="text-emerald-400">12/Septiembre/2023</b></span>
            </div>
        </mat-card-header>
        <mat-card-title-group class="border-b-2 p-2 border-b-cyan-500">
            <mat-icon svgIcon="warning" class="text-red-800 icon-size-6 mr-8"></mat-icon>
        </mat-card-title-group>
        <mat-card-content>
            <div class="flex flex-auto">
                <div class="basis-3/4 py-2 pr-2 border-r-2 border-r-cyan-500">
                    <div class="flex flex-col flex-auto items-center">
                        <img class="rounded-lg w-60 h-60 lg:w-96 lg:h-96 " src="assets/images/resguardos/1.jpg">
                        <div class="flex flex-shrink flex-wrap gap-1 py-2 border-t-2 border-t-cyan-500 mt-2">
                            <img class="rounded-lg w-24 h-24" src="assets/images/resguardos/2.jpg">
                            <img class="rounded-lg w-24 h-24" src="assets/images/resguardos/3.jpg">
                            <img class="rounded-lg w-24 h-24" src="assets/images/resguardos/4.jpg">
                            <img class="rounded-lg w-24 h-24" src="assets/images/resguardos/4.jpg">
                        </div>
                    </div>
                </div>
                <div class="flex-auto flex-col px-4">
                    <div class="flex flex-auto flex-row-reverse gap-4">
                        <div class="text-green-800 text-end text-xl">422583</div>
                        <div class="text-xl font-bold text-end">Numero de activo</div>
                    </div>
                    <div class="text-xl font-bold">Marca</div>
                    <div class="text-secondary text-xl">Dell</div>
                    <div class="text-xl font-bold">Modelo</div>
                    <div class="text-secondary text-xl">GKCL225PL</div>
                    <div class="text-xl font-bold">Numero de serie</div>
                    <div class="text-secondary text-xl">SDD5521252524sd13553</div>
                    <div class="text-xl font-bold">Descripcion del articulo</div>
                    <div class="text-secondary text-xl">Ultrices sapientem viderer vulputate suscipit.Nec sem nostra an te posidonium velit autem suscipit.
                        Repudiare erroribus viverra duis vituperata sodales his fuisset ignota interdum. Arcu eum option mnesarchum vivamus dicit idque facilisis.
                        Suavitate porttitor erat liber instructior nullam.
                    </div>
                    <div class="flex flex-auto gap-4">
                        <div class="text-xl font-bold">Material</div>
                        <div class="text-secondary text-xl">We're the, uh... We're the Pinheads.</div>
                        <div class="text-xl font-bold">Color</div>
                        <div class="text-secondary text-xl">Blanco</div>
                    </div>
                    <div class="text-xl font-bold">Estado fisico</div>
                    <div class="text-secondary text-xl">Why is it that when one man builds a wall, the next man immediately needs to know what's on the other side?</div>
                    <div class="text-xl font-bold">Observaciones del encargado</div>
                    <div class="text-secondary text-xl">Why is it that when one man builds a wall, the next man immediately needs to know what's on the other side?</div>
                    <div class="flex flex-auto justify-between border-t-2 border-t-cyan-500">
                        <div class="flex-col">
                            <div class="text-lg font-bold">Resguardante</div>
                            <div class="text-secondary">Hattie Purdy</div>
                        </div>
                        <div class="flex-col">
                            <div class="text-lg font-bold">Revision generada por</div>
                            <div class="text-secondary">Mozelle Greenholt</div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="tarjeta-mat-acciones border-t-cyan-500">
            <div class="flex flex-row-reverse flex-auto">
                <button mat-raised-button color="primary">
                    <mat-icon svgIcon="done"></mat-icon>
                    Aceptar revision
                </button>
            </div>
        </mat-card-actions>
    </mat-card>


    <mat-card class="flex-auto bg-gray-300 dark:bg-gray-800">
        <mat-card-header class="tarjeta-mat-cabecera border-b-cyan-500">
            <div class="flex flex-auto justify-between">
                <span class="text-xl">Sometimes science</span>
                <span class="text-xl">Fecha de revision: <b class="text-emerald-400">12/Septiembre/2023</b></span>
            </div>
        </mat-card-header>
        <mat-card-title-group class="border-b-2 p-2 border-b-cyan-500">
            <mat-icon svgIcon="circle" class="text-emerald-300 icon-size-6 mr-8"></mat-icon>
        </mat-card-title-group>
        <mat-card-content>
            <div class="flex flex-auto">
                <div class="basis-3/4 py-2 pr-2 border-r-2 border-r-cyan-500">
                    <div class="flex flex-col flex-auto items-center">
                        <img class="rounded-lg w-60 h-60 lg:w-96 lg:h-96 " src="assets/images/resguardos/1.jpg">
                        <div class="flex flex-shrink flex-wrap gap-1 py-2 border-t-2 border-t-cyan-500 mt-2">
                            <img class="rounded-lg w-24 h-24" src="assets/images/resguardos/2.jpg">
                            <img class="rounded-lg w-24 h-24" src="assets/images/resguardos/3.jpg">
                            <img class="rounded-lg w-24 h-24" src="assets/images/resguardos/4.jpg">
                            <img class="rounded-lg w-24 h-24" src="assets/images/resguardos/4.jpg">
                        </div>
                    </div>
                </div>
                <div class="flex-auto flex-col px-4">
                    <div class="text-xl font-bold text-end">Numero de activo</div>
                    <div class="text-green-800 text-end text-xl">422583</div>

                    <div class="text-xl font-bold">Marca</div>
                    <div class="text-secondary text-xl">Dell</div>
                    <div class="text-xl font-bold">Modelo</div>
                    <div class="text-secondary text-xl">GKCL225PL</div>
                    <div class="text-xl font-bold">Numero de serie</div>
                    <div class="text-secondary text-xl">SDD5521252524sd13553</div>
                    <div class="text-xl font-bold">Descripcion del articulo</div>
                    <div class="text-secondary text-xl">Ultrices sapientem viderer vulputate suscipit.Nec sem nostra an te posidonium velit autem suscipit.
                        Repudiare erroribus viverra duis vituperata sodales his fuisset ignota interdum. Arcu eum option mnesarchum vivamus dicit idque facilisis.
                        Suavitate porttitor erat liber instructior nullam.
                    </div>
                    <div class="flex flex-auto gap-4">
                        <div class="text-xl font-bold">Material</div>
                        <div class="text-secondary text-xl">We're the, uh... We're the Pinheads.</div>
                        <div class="text-xl font-bold">Color</div>
                        <div class="text-secondary text-xl">Blanco</div>
                    </div>
                    <div class="text-xl font-bold">Estado fisico</div>
                    <div class="text-secondary text-xl">Why is it that when one man builds a wall, the next man immediately needs to know what's on the other side?</div>
                    <div class="text-xl font-bold">Observaciones del encargado</div>
                    <div class="text-secondary text-xl">Why is it that when one man builds a wall, the next man immediately needs to know what's on the other side?</div>
                    <div class="flex flex-auto justify-between border-t-2 border-t-cyan-500">
                        <div class="flex-col">
                            <div class="text-lg font-bold">Resguardante</div>
                            <div class="text-secondary">Hattie Purdy</div>
                        </div>
                        <div class="flex-col">
                            <div class="text-lg font-bold">Revision generada por</div>
                            <div class="text-secondary">Mozelle Greenholt</div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="tarjeta-mat-acciones border-t-cyan-500" *ngIf="false">
            <div class="flex flex-row-reverse flex-auto">
                <button mat-raised-button color="primary">
                    Aceptar revision
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
