<app-lista-detalle [abriP]="abrirP">
    <ng-container titulo>
        <div>Mis documentos</div>
    </ng-container>
    <ng-container acciones>
        <div>
            <button mat-flat-button [color]="'primary'" (click)="nuevosDocs()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Dar de alta nuevo documento</span>
            </button>
        </div>
    </ng-container>
    <ng-container buscar>
        <div>Aqui va ir el formulario de busqueda</div>
    </ng-container>
    <ng-container outlet>
        <app-detalle-documentos [documento]="docSeleccionado" (cerrarPanel)="cerrarP($event)"></app-detalle-documentos>
    </ng-container>
    <ng-container lista>
        <div class="flex flex-wrap" *ngIf="true">
            <ng-container *ngIf="!cargandoDatos; else cargando">
                <fuse-card class="flex items-center p-4 filter-info m-4 w-90" *ngFor="let doc of docs; let i=index; trackBy: trackByFn">
                    <!--                <a class="z-20 flex items-center cursor-pointer" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover':}">-->
                    <a class="z-20 flex items-center cursor-pointer" (click)="seleccionarDoc()">
                        <!--TODO: compara si el avatar del empleado que manda el documento esta disponible se muestre y si no mostrar img por defecto-->
                        <img class="w-16 h-16 mr-6 rounded-full" [src]="doc.resolveEmpleado.avatar" alt="Card cover image" *ngIf="doc.resolveEmpleado.avatar">
                        <div class="w-16 h-16 mr-6 flex items-center justify-center rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200" *ngIf="!doc.resolveEmpleado.avatar">
                            {{doc.resolveEmpleado.nombreCompleto.charAt(0)}}
                        </div>
                        <div class="flex flex-col">
                            <div class="text-xl font-semibold leading-tight truncate">{{doc.resolveEmpleado.nombreCompleto}}</div>
                            <div class="text-md leading-tight text-primary">{{doc.dependencia}}</div>
                            <div class="text-sm text-secondary mt-1">{{doc.fechaRecepcion | date: 'short'}}</div>
                        </div>
                    </a>
                </fuse-card>
            </ng-container>
        </div>

    </ng-container>
</app-lista-detalle>

<ng-template #cargando>
    <app-tailwind-loading></app-tailwind-loading>
</ng-template>
