<article class="flex flex-col flex-auto">
    <section class="flex-auto my-4">
        <mat-card class="flex-auto">
            <mat-card-header class="border-b-2 py-2 bg-neutral-700">
                <span class="text-xl">Informacion I.M.S.S.</span>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Ene">
                        <div class="grid grid-cols-8 gap-4 py-4">
                            <span class="text-end text-secondary border-b-2 col-start-7">No. Seguro social</span>
                            <span class="border-b-2">NS255125282</span>
                            <span class="text-end text-secondary border-b-2">Mes</span>
                            <span class="border-b-2">28</span>
                            <span class="text-end text-secondary border-b-2">SDI</span>
                            <span class="border-b-2">$730.91</span>
                            <span class="text-end text-secondary border-b-2">SBC</span>
                            <span class="border-b-2">$20,465.48</span>
                            <span class="text-end text-secondary border-b-2">Cuota fija</span>
                            <span class="border-b-2">$549.61</span>

                            <span class="text-md col-span-full border-b-2 text-start text-amber-500">EXCEDENTE</span>
                            <span class="text-end text-secondary border-b-2 col-start-3">Patron (1.10%)</span>
                            <span class="border-b-2">$136.21</span>
                            <span class="text-end text-secondary border-b-2">Obrero (.40%)</span>
                            <span class="border-b-2">$49.53</span>
                            <span class="text-end text-secondary border-b-2 text-orange-300">Total</span>
                            <span class="border-b-2 text-orange-300">$185.75</span>

                            <span class="text-md col-span-full border-b-2 text-start text-amber-500">PRESTACIONES EN DINERO</span>
                            <span class="text-end text-secondary border-b-2 col-start-3">Patron (.7%)</span>
                            <span class="border-b-2">$143.26</span>
                            <span class="text-end text-secondary border-b-2">Obrero (.25%)</span>
                            <span class="border-b-2">$51.16</span>
                            <span class="text-end text-secondary border-b-2 text-orange-300">Total</span>
                            <span class="border-b-2 text-orange-300">$194.42</span>

                            <span class="text-md col-span-full border-b-2 text-start text-amber-500">PENSIONADOS Y BENEFICIADOS</span>
                            <span class="text-end text-secondary border-b-2 col-start-3">Patron (1.050%)</span>
                            <span class="border-b-2">$214.89</span>
                            <span class="text-end text-secondary border-b-2">Obrero (.375%)</span>
                            <span class="border-b-2">$76.75</span>
                            <span class="text-end text-secondary border-b-2 text-orange-300">Total</span>
                            <span class="border-b-2 text-orange-300">$291.36</span>

                            <span class="text-md col-span-full border-b-2 text-start text-amber-500">RIESGO DE TRABAJO</span>
                            <span class="text-end text-secondary border-b-2 col-start-7">(.72980%)</span>
                            <span class="border-b-2">$149.36</span>

                            <span class="text-md col-span-full border-b-2 text-start text-amber-500">INVALIDEZ Y VIDA</span>
                            <span class="text-end text-secondary border-b-2 col-start-3">Patron (1.75%)</span>
                            <span class="border-b-2">$358.15</span>
                            <span class="text-end text-secondary border-b-2">Obrero (.625%)</span>
                            <span class="border-b-2">$127.91</span>
                            <span class="text-end text-secondary border-b-2 text-orange-300">Total</span>
                            <span class="border-b-2 text-orange-300">$486.06</span>

                            <span class="text-md col-span-full border-b-2 text-start text-amber-500">GUARDERIA Y PRESTACIONES</span>
                            <span class="border-b-2 col-start-8">$149.36</span>

                            <span class="text-md col-span-full border-b-2 text-start text-amber-500">RESUMEN</span>
                            <span class="text-end text-secondary border-b-2 col-start-5">Patron</span>
                            <span class="border-b-2">$1,756.13</span>
                            <span class="text-end text-secondary border-b-2">Obrero</span>
                            <span class="border-b-2">$305.35</span>

                            <span class="text-md col-span-full border-b-2 text-start text-amber-500">TOTAL</span>
                            <span class="border-b-2 col-start-8">$2,061.48</span>
                        </div>
                    </mat-tab>
                    <mat-tab label="Feb"></mat-tab>
                    <mat-tab label="Mar"></mat-tab>
                    <mat-tab label="Abr"></mat-tab>
                    <mat-tab label="May"></mat-tab>
                    <mat-tab label="Jun"></mat-tab>
                    <mat-tab label="Jul"></mat-tab>
                    <mat-tab label="Ago"></mat-tab>
                    <mat-tab label="Sep"></mat-tab>
                    <mat-tab label="Oct"></mat-tab>
                    <mat-tab label="Nov"></mat-tab>
                    <mat-tab label="Dic"></mat-tab>
                </mat-tab-group>
            </mat-card-content>
            <mat-card-actions class="border-t-fuchsia-700 border-t-4 bg-neutral-700">
                <div class="flex flex-row-reverse flex-auto">
                    <button mat-raised-button color="primary">
                        Acciones
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </section>
</article>
