<mat-drawer-container class="w-full">
    <mat-drawer class="w-96" opened="true" autoFocus="false" mode="side" position="start">
        <div class="flex flex-col">
            <mat-form-field class="mx-4">
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field class="mx-4">
                <mat-select>
                    <mat-option value="option1">Opcion 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
            <app-lista-Empleados></app-lista-Empleados>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <article class="flex flex-col p-4 mb-8">
            <section class="acciones-en-cabecera -mx-1 -mt-2">
                <button mat-raised-button color="primary" (click)="nvoEmpleado()">
                    <mat-icon class="mr-5">add</mat-icon>
                    Dar de alta nuevo empleado
                </button>
            </section>
            <router-outlet></router-outlet>
        </article>
    </mat-drawer-content>
</mat-drawer-container>
