<section class="flex flex-auto flex-col consultas">
    <div class="flex flex-wrap gap-4 items-center">

        <mat-form-field class="flex-auto">
            <mat-label>Busqueda general</mat-label>
            <input matInput id="busquedaGralDoc" placeholder="puedes buscar por asunto, dependencia, proceso, seguimiento" [formControl]="txtBuscar">
        </mat-form-field>

        <mat-form-field class="flex-auto">
            <mat-label>Selecciona un rango de fechas</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="formBuscarFechas">
                <input matStartDate placeholder="Fecha de inicio" formControlName="fechaInicio">
                <input matEndDate placeholder="Fecha fin" formControlName="fechaFin">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker (closed)="consultaFechasUsuario()"></mat-date-range-picker>
        </mat-form-field>

        <button class="flex-auto" id="btnPendientesDoc" mat-raised-button color="primary" (click)="proceso('pendiente')">
            <mat-icon svgIcon="pending_actions"></mat-icon>
            Pendientes
        </button>
        <button class="flex-auto" id="btnTerminadosDoc" mat-raised-button color="primary" (click)="proceso('terminado')">
            <mat-icon svgIcon="fact_check"></mat-icon>
            Terminados
        </button>

    </div>
    <mat-checkbox color="primary" [checked]="false" [formControl]="chkBuscar">Utilizar los filtros para buscar los enviados por mi</mat-checkbox>
</section>
