<ng-container *ngIf="_planeacion">
    <mat-card class="bg-gray-300 dark:bg-gray-800 m-4" @zoomIn>
        <mat-card-header class="tarjeta-mat-cabecera border-b-rose-500"><span>{{_planeacion.descripcion}} --- {{_planeacion.ano}}</span></mat-card-header>
        <mat-card-content>
            <mat-tab-group ngxUiLoaderBlurred [(selectedIndex)]="indice" (selectedIndexChange)="cambioIndicePbr($event)">
                <mat-tab [label]="pbr.idIndicador" *ngFor="let pbr of _planeacion.pbrCuestionario; trackBy:trackByFn">
                    <section class="grid grid-cols-8 gap-4">
                        <span class="detalle-span">Variable de origen</span>
                        <span class="border-b-2">{{pbr?.variableOrigen}}</span>
                        <span class="detalle-span">Dato</span>
                        <span class="border-b-2 col-span-3">{{pbr?.dato}}</span>
                        <span class="detalle-span">Unidad</span>
                        <span class="border-b-2">{{pbr?.unidad}}</span>

                        <span class="detalle-span">Descripcion</span>
                        <span class="border-b-2 col-span-7">{{pbr?.descripcion}}</span>

                        <span class="detalle-span">Enero</span>
                        <span class="border-b-2">{{pbr?.enero}}</span>
                        <span class="detalle-span">Febrero</span>
                        <span class="border-b-2">{{pbr?.febrero}}</span>
                        <span class="detalle-span">Marzo</span>
                        <span class="border-b-2">{{pbr?.marzo}}</span>
                        <span class="detalle-span">Trimestre 1</span>
                        <!--                        <span class="border-b-2">{{[pbr?.marzo, pbr?.febrero, pbr?.enero] | calculoPbr: pbr?.esSumatoriaTrim}}</span>-->
                        <span class="border-b-2">{{pbr.trim1}}</span>

                        <span class="detalle-span">Abril</span>
                        <span class="border-b-2">{{pbr?.abril}}</span>
                        <span class="detalle-span">Mayo</span>
                        <span class="border-b-2">{{pbr?.mayo}}</span>
                        <span class="detalle-span">Junio</span>
                        <span class="border-b-2">{{pbr?.junio}}</span>
                        <span class="detalle-span">Trimestre 2</span>
                        <span class="border-b-2">{{pbr?.trim2}}</span>


                        <span class="detalle-span">Julio</span>
                        <span class="border-b-2">{{pbr?.julio}}</span>
                        <span class="detalle-span">Agosto</span>
                        <span class="border-b-2">{{pbr?.agosto}}</span>
                        <span class="detalle-span">Septiembre</span>
                        <span class="border-b-2">{{pbr?.septiembre}}</span>
                        <span class="detalle-span">Trimestre 3</span>
                        <span class="border-b-2">{{pbr.trim3}}</span>


                        <span class="detalle-span">Octubre</span>
                        <span class="border-b-2">{{pbr?.octubre}}</span>
                        <span class="detalle-span">Noviembre</span>
                        <span class="border-b-2">{{pbr?.noviembre}}</span>
                        <span class="detalle-span">Diciembre</span>
                        <span class="border-b-2">{{pbr?.diciembre}}</span>
                        <span class="detalle-span">Trimestre 4</span>
                        <span class="border-b-2">{{pbr?.trim4}}</span>

                        <span class="detalle-span col-start-7">Acumulado final</span>
                        <span class="border-b-2">{{pbr?.total}}</span>
                    </section>
                    <app-lista-sum-pbr></app-lista-sum-pbr>
                </mat-tab>
            </mat-tab-group>
            <ngx-ui-loader [loaderId]="loader"></ngx-ui-loader>
        </mat-card-content>

        <mat-card-actions class="tarjeta-mat-acciones border-t-rose-500">
            <div class="flex flex-auto gap-4">
                <button class="flex-auto" mat-flat-button color="primary" [disabled]="desNuevoReg" (click)="abrirPanel()">
                    <mat-icon svgIcon="add"></mat-icon>
                    Nuevo registro
                </button>
                <button class="flex-auto" mat-flat-button color="accent" [disabled]="desEditarReg" (click)="editarPbr()">
                    <mat-icon svgIcon="edit"></mat-icon>
                    Editar registro
                </button>
                <button class="flex-auto" mat-flat-button color="warn" [disabled]="desEliminarReg" (click)="eliminarPbr()">
                    <mat-icon svgIcon="mat_outline:delete"></mat-icon>
                    Eliminar registro
                </button>
                <button mat-flat-button color="accent" class="flex-auto" (click)="regAvances()">
                    <mat-icon svgIcon="assignment"></mat-icon>
                    Registrar avances
                </button>
                <button mat-flat-button color="accent" class="flex-auto" [disabled]="desSumatoria" (click)="sumatoria()">
                    <mat-icon svgIcon="heroicons_outline:calculator"></mat-icon>
                    Crear sumatorias
                </button>
                <button mat-flat-button color="accent" class="flex-auto">
                    <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
                    Imprimir
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</ng-container>
