<section class="flex flex-auto flex-col">
    <mat-card class="bg-gray-300 dark:bg-gray-800 m-4" @zoomIn>
        <mat-card-header class="tarjeta-mat-cabecera border-b-rose-500"><span>PBR</span></mat-card-header>
        <mat-card-content>
            <mat-tab-group *ngIf="pbrQuery.selectAll() | async as pbrs" ngxUiLoaderBlurred>
                <mat-tab *ngFor="let pbr of pbrs; trackBy:trackByFn" [label]="pbr.claveVariable">
                    <div class="flex flex-col flex-auto">
                        <div class="grid grid-cols-10 gap-4">
                            <span class="detalle-span">Origen variable</span>
                            <span class="border-b-2">{{pbr.variableOrigen}}</span>
                            <span class="detalle-span">Clave variable</span>
                            <span class="border-b-2">{{pbr.claveVariable}}</span>
                            <span class="detalle-span">Unidad</span>
                            <span class="border-b-2">{{pbr.unidad}}</span>
                            <span class="detalle-span">Dato</span>
                            <span class="border-b-2 col-span-3">{{pbr.dato}}</span>
                            <span class="text-center text-amber-700 text-xl col-span-full border-b-2">Descripcion</span>
                            <span class="border-b-2 col-span-full">{{pbr.descripcion}}</span>
                        </div>
<!--                        <div class="grid grid-cols-8 gap-4 mt-4">-->
<!--                            <span class="detalle-span">Enero</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.enero}}</span>-->
<!--                            <span class="detalle-span">Febrero</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.febrero}}</span>-->
<!--                            <span class="detalle-span">Marzo</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.marzo}}</span>-->
<!--                            <span class="detalle-span">Trimestre 1</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.trim1}}</span>-->

<!--                            <span class="detalle-span">Abril</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.abril}}</span>-->
<!--                            <span class="detalle-span">Mayo</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.mayo}}</span>-->
<!--                            <span class="detalle-span">Junio</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.junio}}</span>-->
<!--                            <span class="detalle-span">Trimestre 2</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.trim2}}</span>-->

<!--                            <span class="detalle-span">Julio</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.julio}}</span>-->
<!--                            <span class="detalle-span">Agosto</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.agosto}}</span>-->
<!--                            <span class="detalle-span">Septiembre</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.septiembre}}</span>-->
<!--                            <span class="detalle-span">Trimestre 3</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.trim3}}</span>-->

<!--                            <span class="detalle-span">Octubre</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.octubre}}</span>-->
<!--                            <span class="detalle-span">Noviembre</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.noviembre}}</span>-->
<!--                            <span class="detalle-span">Diciembre</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.diciembre}}</span>-->
<!--                            <span class="detalle-span">Trimestre 4</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.trim4}}</span>-->

<!--                            <span class="detalle-span col-start-7">Total</span>-->
<!--                            <span class="border-b-2">{{pbr.ejercicio.total}}</span>-->
<!--                        </div>-->
                    </div>
                </mat-tab>
            </mat-tab-group>
            <ng-container>
                <div class="flex flex-col flex-auto items-end my-4 border-t-2 border-t-rose-500 py-4">
                    <span>TOTAL DE TOMAS: -----}}</span>
                    <span>TOTAL DE TOMAS CON DESCARGA SANITARIA: -------</span>
                    <span>TOTAL DE VOLUMEN FACTURADO: -------</span>
                </div>
            </ng-container>

            <ngx-ui-loader [loaderId]="loader"></ngx-ui-loader>
        </mat-card-content>
        <mat-card-actions class="tarjeta-mat-acciones border-t-rose-500">
            <div class="flex flex-auto gap-4">
                <button class="flex-auto" mat-raised-button color="primary" (click)="regAvances()">
                    <mat-icon svgIcon="add"></mat-icon>
                    Registrar avance
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
    <ng-container>
        <app-avance-pbr></app-avance-pbr>
    </ng-container>
</section>
