<ng-container *ngIf="planeacionQuery.selectActive() | async as planeacion">
    <mat-card class="bg-gray-300 dark:bg-gray-800 m-4" @zoomIn>
        <mat-card-header class="tarjeta-mat-cabecera border-b-rose-500"><span>PBR- {{planeacion.ano}}</span></mat-card-header>
        <mat-card-content>

            <mat-tab-group ngxUiLoaderBlurred [(selectedIndex)]="indice" (selectedIndexChange)="pbrSeleccionado = planeacion.pbrCuestionario[indice]">

            </mat-tab-group>

            <ngx-ui-loader [loaderId]="loader"></ngx-ui-loader>
        </mat-card-content>


        <mat-card-actions class="tarjeta-mat-acciones border-t-rose-500">
            <div class="flex flex-auto gap-4">
                <button class="flex-auto" mat-raised-button color="primary" (click)="abrirPanel()">
                    <mat-icon svgIcon="add"></mat-icon>
                    Nuevo registro
                </button>
                <button class="flex-auto" mat-raised-button color="accent">
                    <mat-icon svgIcon="edit"></mat-icon>
                    Editar registro
                </button>
                <button class="flex-auto" mat-raised-button color="warn">
                    <mat-icon svgIcon="mat_outline:delete"></mat-icon>
                    Eliminar registro
                </button>

                <button mat-raised-button color="accent" class="flex-auto">
                    <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
                    Imprimir
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</ng-container>
