<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="abriPanel" [position]="'end'" [disableClose]="true" #matDrawer>
            <ng-content select="[outlet]"></ng-content>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">
            <!-- Main -->
            <div class="flex flex-col flex-auto">
                <!-- Header -->
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-8 md:px-8 border-b bg-card dark:bg-transparent">
                    <!-- Title -->
                    <div class="text-4xl font-extrabold tracking-tight leading-none">
                        <ng-content select="[titulo]"></ng-content>
                    </div>
                    <!-- Main actions -->
                    <div class="mt-4 sm:mt-0">
                        <ng-content select="[acciones]"></ng-content>
                    </div>
                </div>

                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-2 sm:py-4 md:px-8 border-b bg-card dark:bg-transparent">
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4 w-full">
                        <!-- Search -->
                        <div class="flex-auto">
                            <ng-content select="[buscar]"></ng-content>
                        </div>
                    </div>
                </div>

                <!-- Contacts list -->
                <div class="relative">
                    <ng-content select="[lista]"></ng-content>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
