<section class="flex flex-auto flex-col" *ngIf="planeacionQuery?.cuestionarioMir() as mirSelec">
    <mat-card class="bg-gray-300 dark:bg-gray-800 m-4 flex-auto" @zoomIn>
        <mat-card-header class="tarjeta-mat-cabecera border-b-green-400">
            <span class="text-xl">{{mirSelec?.nivel}}</span>
        </mat-card-header>
        <mat-card-content>
            <article class="flex flex-col flex-auto" #componente>
                <section class="grid grid-cols-6 gap-4 m-4 text-lg">
                    <span class="detalle-span">Fecha</span>
                    <span class="border-b-2">{{fecha}}</span>
                    <span class="detalle-span">ID INDICADOR</span>
                    <span class="border-b-2">{{mirSelec?.idIndicador}}</span>
                    <span class="detalle-span">Programa presupuestal</span>
                    <span class="border-b-2">{{mirSelec?.programaFinanciacion}}</span>

                    <span class="detalle-span font-semibold text-black col-span-full py-2 bg-blue-200 text-center">FUNCIONARIO RESPONSABLE</span>
                    <span class="detalle-span">Responsable</span>
                    <span class="border-b-2">{{mirSelec?.responsable}}</span>
                    <span class="detalle-span">Centro gestor</span>
                    <span class="border-b-2">{{mirSelec?.centroGestor}}</span>
                    <span class="detalle-span">Correo electronico</span>
                    <span class="border-b-2">{{mirSelec?.correo}}</span>

                    <span class="detalle-span font-semibold text-black col-span-full py-2 bg-blue-200 text-center">INDICADOR</span>
                    <span class="border-b-2 col-span-full text-center">{{mirSelec?.resumenNarrativo}}</span>

                    <span class="detalle-span col-start-5">Unidad de medida</span>
                    <span class="border-b-2">{{mirSelec?.unidadDeMedida}}</span>
                    <span class="detalle-span col-start-5">Nivel</span>
                    <span class="border-b-2">{{mirSelec?.nivel}}</span>
                    <span class="detalle-span col-start-5">Linea base</span>
                    <span class="border-b-2">{{mirSelec?.lineaBaseValor}}</span>
                    <span class="detalle-span col-start-5">Meta</span>
                    <span class="border-b-2">{{mirSelec?.meta}}</span>
                    <span class="detalle-span col-start-5">Sentido del indicador</span>
                    <span class="border-b-2">{{mirSelec?.sentidoDelIndicador}}</span>
                    <span class="detalle-span font-semibold text-black py-2 col-span-full bg-blue-200 text-center">METODO DE CALCULO</span>
                    <span class="border-b-2 col-span-full text-center">{{mirSelec?.metodoCalculo}}</span>
                </section>
                <!--                <app-tabla-comun [datos]="_datosTabla"></app-tabla-comun>-->
                <mat-divider class="border-4 mb-4 border-lime-900 dark:border-lime-400"></mat-divider>
                <section class="grid grid-cols-8 gap-4 text-lg">
                    <span class="detalle-span">Avance trim 1</span>
                    <span class="border-b-2 text-green-700">{{_avancesTrimestrales[0] | multiplesFormatos: mirSelec?.componente?.tipoValorAvance}}</span>
                    <span class="detalle-span">Avance trim 2</span>
                    <span class="border-b-2 text-green-700">{{_avancesTrimestrales[1] | multiplesFormatos: mirSelec?.componente?.tipoValorAvance}}</span>
                    <span class="detalle-span">Avance trim 3</span>
                    <span class="border-b-2 text-green-700">{{_avancesTrimestrales[2] | multiplesFormatos: mirSelec?.componente?.tipoValorAvance}}</span>
                    <span class="detalle-span">Avance trim 4</span>
                    <span class="border-b-2 text-green-700">{{_avancesTrimestrales[3] | multiplesFormatos: mirSelec?.componente?.tipoValorAvance}}</span>
                </section>

            </article>
            <div class="flex flex-auto gap-8 mt-2">
                <mat-checkbox color="primary" [checked]="true" (change)="cambioChkTrim($event, 1, mirSelec?.componente?.tipoForm)">Trimestre 1</mat-checkbox>
                <mat-checkbox color="primary" (change)="cambioChkTrim($event,2, mirSelec?.componente?.tipoForm)">Trimestre 2</mat-checkbox>
                <mat-checkbox color="primary">Trimestre 3</mat-checkbox>
                <mat-checkbox color="primary">Trimestre 4</mat-checkbox>
            </div>
        </mat-card-content>

        <mat-card-actions class="tarjeta-mat-acciones border-t-green-400">
            <div class="flex flex-auto gap-4">
                <button mat-raised-button color="primary" class="flex-auto" (click)="nuevoComponente()">
                    <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                    Registrar nuevos calculos
                </button>
                <button mat-raised-button color="accent" class="flex-auto" (click)="imprimirComp()">
                    <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
                    Imprimir
                </button>
            </div>
        </mat-card-actions>

    </mat-card>
</section>
