<section class="flex flex-auto flex-col p-4">
    <!--    <app-acciones-mir-pbr [habCentroGestor]="true" (planeacionSeleccionado)="planeacionSeleccionado($event)" (centroGestor)="centroGestor($event)"></app-acciones-mir-pbr>-->
    <!--    <div class="flex flex-auto gap-4">-->
    <!--        <ng-container *ngIf="mirCuestionario.length > 0">-->
    <!--            <fieldset class="p-2 m-4 border-2 flex-auto h-64">-->
    <!--                <legend>MIR</legend>-->
    <!--                <mat-selection-list multiple (cuechange)="cueChange($event)" class="h-64 overflow-y-auto" color="primary">-->
    <!--                    <mat-list-option *ngFor="let mir of mirCuestionario" class="border-b-2">-->
    <!--                        <div class="flex flex-auto gap-4">-->
    <!--                            <span>{{mir.idIndicador}}</span>-->
    <!--                            <span>{{mir.nombreDelIndicador}}</span>-->
    <!--                        </div>-->
    <!--                    </mat-list-option>-->
    <!--                </mat-selection-list>-->
    <!--            </fieldset>-->
    <!--        </ng-container>-->

    <!--        <ng-container *ngIf="pbrCuestionario.length > 0">-->
    <!--            <fieldset class="p-2 m-4 border-2 flex-auto h-64">-->
    <!--                <legend>Presupuesto basado en resultados</legend>-->
    <!--                <mat-selection-list multiple (cuechange)="cueChange($event)" class="h-64 overflow-y-auto" color="primary">-->
    <!--                    <mat-list-option *ngFor="let pbr of pbrCuestionario" class="border-b-2">-->
    <!--                        <div class="flex flex-auto gap-4">-->
    <!--                            <span>{{pbr.idIndicador}}</span>-->
    <!--                            <span>{{pbr.descripcion}}</span>-->
    <!--                        </div>-->
    <!--                    </mat-list-option>-->
    <!--                </mat-selection-list>-->
    <!--            </fieldset>-->
    <!--        </ng-container>-->
    <!--    </div>-->
    <fieldset class="p-4 border-2" @zoomIn>
        <legend>Componente</legend>
        <ng-container>
            <article class="flex flex-col flex-auto">
                <section class="grid grid-cols-6 gap-4 m-4 text-lg">
                    <span class="detalle-span">Fecha</span>
                    <span class="border-b-2">{{fecha}}</span>
                    <span class="detalle-span">ID INDICADOR</span>
                    <span class="border-b-2">{{_mirCuestionario?.idIndicador}}</span>
                    <span class="detalle-span">Programa presupuestal</span>
                    <span class="border-b-2">{{_mirCuestionario?.programaFinanciacion}}</span>

                    <span class="detalle-span col-span-full bg-blue-300 dark:bg-blue-700 text-center">FUNCIONARIO RESPONSABLE</span>
                    <span class="detalle-span">Responsable</span>
                    <span class="border-b-2">{{_mirCuestionario?.responsable}}</span>
                    <span class="detalle-span">Centro gestor</span>
                    <span class="border-b-2">{{_mirCuestionario?.centroGestor}}</span>
                    <span class="detalle-span">Correo electronico</span>
                    <span class="border-b-2">{{_mirCuestionario?.correo}}</span>

                    <span class="detalle-span col-span-full bg-blue-300 dark:bg-blue-700 text-center">Nombre del indicador</span>
                    <span class="border-b-2 col-span-full text-center">{{_mirCuestionario?.resumenNarrativo}}</span>

                    <span class="detalle-span col-start-5">Unidad de medida</span>
                    <span class="border-b-2">{{_mirCuestionario?.unidadDeMedida}}</span>
                    <span class="detalle-span col-start-5">Nivel</span>
                    <span class="border-b-2">{{_mirCuestionario?.nivel}}</span>
                    <span class="detalle-span col-start-5">Linea base</span>
                    <span class="border-b-2">{{_mirCuestionario?.lineaBaseValor}}</span>
                    <span class="detalle-span col-start-5">Meta</span>
                    <span class="border-b-2">{{_mirCuestionario?.meta}}</span>
                    <span class="detalle-span col-start-5">Sentido del indicador</span>
                    <span class="border-b-2">{{_mirCuestionario?.sentidoDelIndicador}}</span>
                    <span class="detalle-span col-span-full bg-blue-300 dark:bg-blue-700 text-center">Metodo de calculo</span>
                    <span class="border-b-2 col-span-full text-center">{{_mirCuestionario?.metodoCalculo}}</span>
                </section>

                <mat-toolbar>
                    <button mat-raised-button color="primary" (click)="regComponente()">
                        <mat-icon svgIcon="add"></mat-icon>
                        Registrar componente
                    </button>
                </mat-toolbar>
                <section>

                </section>
            </article>
        </ng-container>
    </fieldset>
</section>
