<section class="flex flex-auto flex-col" *ngIf="planeacionQuery?.cuestionarioMir() as mirSelec">
    <mat-card class="bg-gray-300 dark:bg-gray-800 m-4 flex-auto" @zoomIn>
        <mat-card-header class="tarjeta-mat-cabecera border-b-green-400">
            <span class="text-xl">{{mirSelec?.nivel}}</span>
        </mat-card-header>
        <mat-card-content>
            <article class="flex flex-col flex-auto" #componente>
                <section class="grid grid-cols-6 gap-4 m-4 text-lg">
                    <span class="detalle-span">Fecha</span>
                    <span class="border-b-2">{{fecha}}</span>
                    <span class="detalle-span">ID INDICADOR</span>
                    <span class="border-b-2">{{mirSelec?.idIndicador}}</span>
                    <span class="detalle-span">Programa presupuestal</span>
                    <span class="border-b-2">{{mirSelec?.programaFinanciacion}}</span>

                    <span class="detalle-span font-semibold text-black col-span-full py-2 bg-blue-200 text-center">FUNCIONARIO RESPONSABLE</span>
                    <span class="detalle-span">Responsable</span>
                    <span class="border-b-2">{{mirSelec?.responsable}}</span>
                    <span class="detalle-span">Centro gestor</span>
                    <span class="border-b-2">{{mirSelec?.centroGestor}}</span>
                    <span class="detalle-span">Correo electronico</span>
                    <span class="border-b-2">{{mirSelec?.correo}}</span>

                    <span class="detalle-span font-semibold text-black col-span-full py-2 bg-blue-200 text-center">INDICADOR</span>
                    <span class="border-b-2 col-span-full text-center">{{mirSelec?.resumenNarrativo}}</span>

                    <span class="detalle-span col-start-5">Unidad de medida</span>
                    <span class="border-b-2">{{mirSelec?.unidadDeMedida}}</span>
                    <span class="detalle-span col-start-5">Nivel</span>
                    <span class="border-b-2">{{mirSelec?.nivel}}</span>
                    <span class="detalle-span col-start-5">Linea base</span>
                    <span class="border-b-2">{{mirSelec?.lineaBaseValor}}</span>
                    <span class="detalle-span col-start-5">Meta</span>
                    <span class="border-b-2">{{mirSelec?.meta}}</span>
                    <span class="detalle-span col-start-5">Sentido del indicador</span>
                    <span class="border-b-2">{{mirSelec?.sentidoDelIndicador}}</span>
                    <span class="detalle-span font-semibold text-black py-2 col-span-full bg-blue-200 text-center">METODO DE CALCULO</span>
                    <span class="border-b-2 col-span-full text-center">{{mirSelec?.metodoCalculo}}</span>
                </section>

                <app-tabla-mat class="m-4" [datos]="datosTabla" [columnas]="columnas" *ngIf="mirSelec.componente"/>

                <mat-divider class="border-4 mb-4 border-b-fuchsia-700 dark:border-fuchsia-950"></mat-divider>
                <section class="grid grid-cols-8 gap-4 text-lg">
                    <span class="detalle-span">Avance trim 1</span>
                    <span class="border-b-2 text-green-700">{{avTrim[0] | multiplesFormatos: mirSelec?.componente?.tipoValorAvance}}- <small>etiqueta</small></span>
                    <span class="detalle-span">Avance trim 2</span>
                    <span class="border-b-2 text-green-700">{{avTrim[1] | multiplesFormatos: mirSelec?.componente?.tipoValorAvance}}</span>
                    <span class="detalle-span">Avance trim 3</span>
                    <span class="border-b-2 text-green-700">{{avTrim[2] | multiplesFormatos: mirSelec?.componente?.tipoValorAvance}}</span>
                    <span class="detalle-span">Avance trim 4</span>
                    <span class="border-b-2 text-green-700">{{avTrim[3] | multiplesFormatos: mirSelec?.componente?.tipoValorAvance}}</span>
                </section>

            </article>
            <div class="flex flex-auto gap-8 mt-2" *ngIf="mirSelec?.componente">
                <mat-checkbox color="primary" (change)="cambioChkTrim($event, mirSelec?.componente?.tipoForm, ['Trim 1', 'T. Ant 1', 'Ad 1'],['trim1', 'trim1Ant', 'trim1Ad'])">Trimestre 1</mat-checkbox>
                <mat-checkbox color="primary" (change)="cambioChkTrim($event, mirSelec?.componente?.tipoForm, ['Trim 2', 'T. Ant 2', 'Ad 2'],['trim2', 'trim2Ant', 'trim2Ad'])">Trimestre 2</mat-checkbox>
                <mat-checkbox color="primary" (change)="cambioChkTrim($event, mirSelec?.componente?.tipoForm, ['trim 3', 'T. Ant 3', 'Ad 3'],['trim3', 'trim3Ant', 'trim3Ad'])">Trimestre 3</mat-checkbox>
                <mat-checkbox color="primary" (change)="cambioChkTrim($event, mirSelec?.componente?.tipoForm, ['trim 4', 'T. Ant 4', 'Ad 4'],['trim4', 'trim4Ant', 'trim4Ad'])">Trimestre 4</mat-checkbox>
            </div>
        </mat-card-content>

        <mat-card-actions class="tarjeta-mat-acciones border-t-green-400">
            <div class="flex flex-auto gap-4">
                <button mat-raised-button color="primary" class="flex-auto" (click)="nuevoComponente()">
                    <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                    Registrar nuevos calculos
                </button>
                <button mat-raised-button color="accent" class="flex-auto" (click)="imprimirComp()">
                    <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
                    Imprimir
                </button>
            </div>
        </mat-card-actions>

    </mat-card>
</section>
