<div class="flex flex-col flex-auto mt-8 bg-card shadow rounded overflow-hidden">
    <div class="p-3 bg-gray-50 dark:bg-gray-700">
        <p class="text-lg font-medium">Motor instalado actualmente</p>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">serie:</div>
        <div>XALDO5253LDOR</div>
        <div class="text-secondary">Marca:</div>
        <div>DLLSOLD -- adasde</div>
        <div class="text-secondary">Modelo:</div>
        <div>MODELO-MOTOR</div>
    </div>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">Amperaje:</div>
        <div>356</div>
        <div class="text-secondary">Voltaje:</div>
        <div>dESd</div>
        <div class="text-secondary">Fact potencia:</div>
        <div>100</div>
    </div>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">Hp:</div>
        <div>356</div>
        <div class="text-secondary">Eficiencia:</div>
        <div>dESd</div>
    </div>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">Fecha instalacion:</div>
        <div>13/06/2021</div>
        <div class="text-secondary">Fecha retiro:</div>
        <div>19/09/2023</div>
    </div>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">Descripcion:</div>
        <div>asdf dasfa asera dasfasdf aesera</div>
    </div>
    <div class="flex items-center p-3 justify-between">
        <div class="text-secondary">Observaciones:</div>
        <div>asdf dasfa asera dasfasdf aesera afasd adfe</div>
    </div>
</div>
