<article class="flex flex-col flex-auto p-4">
    <app-lista-motores class="flex-auto"></app-lista-motores>

    <section class="flex-auto mt-8">
        <mat-card class="bg-gray-300 dark:bg-gray-800">
            <mat-card-header class="tarjeta-mat-cabecera border-b-rose-500">
                <span class="text-lg font-medium">Motor (Colocar el nombre de la instalacion)</span>
            </mat-card-header>
            <mat-card-content>
                <div class="grid grid-cols-6 gap-4 p-3">
                    <div class="text-secondary">serie:</div>
                    <div>XALDO5253LDOR</div>
                    <div class="text-secondary">Marca:</div>
                    <div>DLLSOLD -- adasde</div>
                    <div class="text-secondary">Modelo:</div>
                    <div>MODELO-MOTOR</div>

                    <div class="text-secondary">Amperaje:</div>
                    <div>356</div>
                    <div class="text-secondary">Voltaje:</div>
                    <div>dESd</div>
                    <div class="text-secondary">Fact potencia:</div>
                    <div>100</div>

                    <div class="text-secondary col-start-3">Hp:</div>
                    <div>356</div>
                    <div class="text-secondary">Eficiencia:</div>
                    <div>dESd</div>

                    <div class="text-secondary col-start-3">Fecha instalacion:</div>
                    <div>13/06/2021</div>
                    <div class="text-secondary">Fecha retiro:</div>
                    <div>19/09/2023</div>

                    <div class="text-secondary">Descripcion:</div>
                    <div class="col-span-5">asdf dasfa asera dasfasdf aesera</div>

                    <div class="text-secondary">Observaciones:</div>
                    <div class="col-span-5">asdf dasfa asera dasfasdf aesera afasd adfe</div>
                    <span class="text-md col-span-full border-b-2 text-start text-amber-900 dark:text-amber-400">EVIDENCIA INSTALACION</span>
                    <span class="text-md col-span-full border-b-2 text-start text-amber-900 dark:text-amber-400">EVIDENCIA BAJA</span>
                </div>
            </mat-card-content>
            <mat-card-actions class="tarjeta-mat-acciones border-t-rose-500">
                <div class="flex items-center justify-between flex-auto">
                    <button mat-raised-button color="primary" (click)="nvoMotor()">
                        <mat-icon>add</mat-icon>
                        Dar de alta un nuevo motor
                    </button>
                    <button mat-raised-button color="accent">
                        <mat-icon svgIcon="edit"></mat-icon>
                        Editar informacion
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </section>
</article>
