<app-lista-detalle>
    <ng-container titulo>
        <div>Departamentos</div>
    </ng-container>
    <!--    Opciones de busqueda podriamos hacerlo en un componente aparte-->
    <ng-container buscar>
        <div class="flex mt-4 sm:mt-0 md:mt-4">
            <!-- Search -->
            <mat-form-field class="flex-auto">
                <mat-icon matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput [formControl]="controlBuscar" [autocomplete]="'off'" [placeholder]="'Buscar departamento'">
            </mat-form-field>
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="registro()">
                <div class="flex items-center justify-center">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="mr-3">Agregar</span>
                </div>
            </button>
        </div>
    </ng-container>
    <!--    Carga la lista de departamentos-->
    <ng-container lista>
        <app-lista-deptos></app-lista-deptos>
    </ng-container>
</app-lista-detalle>
