<ng-container *ngIf="stateRoles.state$ | async as empleado">
    <section class="flex flex-auto flex-col" ngxUiLoaderBlurred>
        <ng-container *ngIf="empleado; else noHayDatos">
            <mat-list [disabled]="deshabilitarLista">
                <mat-list-item *ngFor="let grupo of empleado.roles">
                    <div class="text-primary border-b-2 text-lg" matListItemLine>{{grupo['title']}}</div>
                    <!--Nivel de grupo-->
                    <div class="flex flex-auto flex-col border-b-2" *ngFor="let exp of grupo['children']">

                        <div class="flex flex-auto items-center justify-between" matListItemLine>
                            <span class="flex-auto">{{exp['title']}}</span>
                            <mat-checkbox [checked]="exp['acceso']" color="primary" [disabled]="deshabilitarLista" *ngIf="exp['type'] === 'basic'" matTooltip="Acceso a ruta">
                            </mat-checkbox>
                            <ng-container>
                                <mat-checkbox [checked]="exp['puedeAsigPermisos']" color="warn" [disabled]="deshabilitarLista" *ngIf="exp['type'] === 'basic'" matTooltip="Puede asignar permisos">
                                </mat-checkbox>
                            </ng-container>
                        </div>
                        <!--                            Permisos a controles-->
                        <div class="flex flex-col flex-auto" *ngFor="let ctrlNivel1 of exp['controles']">
                            <div class="ml-2 flex flex-auto items-center justify-between" matListItemLine>
                                <span class="flex-auto text-secondary">{{ctrlNivel1['title']}}</span>
                                <mat-checkbox [checked]="ctrlNivel1['activo']"></mat-checkbox>
                            </div>
                        </div>


                        <!--Segundo nivel-->
                        <div class="flex flex-col flex-auto border-b-2" *ngFor="let expRuta of exp['children']">
                            <div class="ml-2 flex flex-auto items-center justify-between" matListItemLine>
                                <span class="flex-auto">{{expRuta['title']}}</span>
                                <mat-checkbox [checked]="expRuta['acceso']" color="primary" [disabled]="deshabilitarLista" *ngIf="expRuta['type'] === 'basic'">
                                </mat-checkbox>
                                <ng-container>
                                    <mat-checkbox [checked]="expRuta['puedeAsigPermisos']" color="warn" [disabled]="deshabilitarLista" *ngIf="expRuta['type'] === 'basic'">
                                    </mat-checkbox>
                                </ng-container>
                            </div>
                            <!--Permiso controles segundo nivel-->
                            <div class="flex flex-col flex-auto" *ngFor="let ctrlNivel2 of expRuta['controles']">
                                <div class="ml-2 flex flex-auto items-center justify-between" matListItemLine>
                                    <span class="flex-auto text-secondary">{{ctrlNivel2['title']}}</span>
                                    <mat-checkbox [checked]="ctrlNivel2['activo']"></mat-checkbox>
                                </div>
                            </div>

                            <!--                            Tercer nivel-->
                            <div class="flex flex-col flex-auto border-b-2" *ngFor="let subRuta of expRuta['children']">
                                <div class="ml-2 flex flex-auto items-center justify-between" matListItemLine>
                                    <span class="flex-auto">{{subRuta['title']}}</span>
                                    <mat-checkbox [checked]="subRuta['acceso']" color="primary" [disabled]="deshabilitarLista" *ngIf="subRuta['type'] === 'basic'">
                                    </mat-checkbox>
                                    <ng-container>
                                        <mat-checkbox [checked]="subRuta['puedeAsigPermisos']" color="primary" [disabled]="deshabilitarLista" *ngIf="subRuta['type'] === 'basic'">
                                        </mat-checkbox>
                                    </ng-container>
                                </div>

                                <div class="flex flex-col flex-auto" *ngFor="let ctrlNivel3 of expRuta['controles']">
                                    <div class="ml-2 flex flex-auto items-center justify-between" matListItemLine>
                                        <span class="flex-auto text-secondary">{{ctrlNivel3['title']}}</span>
                                        <mat-checkbox [checked]="ctrlNivel3['activo']"></mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </ng-container>
        <ngx-ui-loader [loaderId]="ngxLoader"></ngx-ui-loader>
    </section>
</ng-container>
<ng-template #noHayDatos>
    <app-sin-datos></app-sin-datos>
</ng-template>


<!--<mat-list-item *ngFor="let grupo of empleado.roles">-->
<!--    <div matListItemTitle class="flex flex-col flex-auto" matListItemLine>-->
<!--        <span class="flex-auto border-b-2 text-primary" matListItemLine>{{grupo['title']}}</span>-->

<!--        <div class="flex flex-auto flex-col" *ngFor="let expandible of grupo.children" matListItemLine>-->

<!--            <div class="flex flex-auto items-center justify-between hover:bg-gray-300 dark:hover:bg-gray-900" matListItemLine>-->
<!--                <span class="flex-auto text-lg">{{expandible['title']}}</span>-->
<!--                <mat-checkbox color="primary" [checked]="expandible['acceso']" (change)="cambioPrimerNivel($event, grupo, expandible, empleado)" *ngIf="expandible['type'] === 'basic'"-->
<!--                              [disabled]="deshabilitarLista" matTooltip="Acesso a la ruta">P-S-R-->
<!--                </mat-checkbox>-->
<!--                <mat-checkbox color="warn" [checked]="expandible['puedeAsigPermisos']" matTooltip="Puede asignar permiso" *ngIf="expandible['type'] === 'basic'"-->
<!--                              [disabled]="deshabilitarLista">P-S-C-->
<!--                </mat-checkbox>-->

<!--                <div class="flex flex-col flex-auto">-->
<!--                    <div class="flex flex-auto items-center justify-center" *ngFor="let ctrlNivel1 of expandible['controles']">-->
<!--                        <span class="grow">{{ctrlNivel1['id']}}</span>-->
<!--                        <mat-checkbox></mat-checkbox>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="flex flex-col flex-auto" *ngFor="let ruta of expandible.children" matListItemLine>-->
<!--                <div class="ml-4 flex flex-auto items-center justify-between hover:bg-gray-300 dark:hover:bg-gray-900">-->
<!--                    <span class="grow">{{ruta['title']}}</span>-->

<!--                    <mat-checkbox [disabled]="deshabilitarLista" color="primary" [checked]="ruta['acceso']" (change)="cambioSegNivel($event, grupo, expandible, ruta, empleado)"-->
<!--                                  *ngIf="ruta['type'] === 'basic'">P-S-r-->
<!--                    </mat-checkbox>-->

<!--                    <mat-checkbox [disabled]="deshabilitarLista" color="primary" [checked]="ruta['puedeAsigPermisos']" (change)="cambioSegNivel($event, grupo, expandible, ruta, empleado)">-->
<!--                        P-S-c-->
<!--                    </mat-checkbox>-->
<!--                </div>-->

<!--                <div class="flex flex-auto items-center justify-between hover:bg-gray-300 dark:hover:bg-gray-900" *ngFor="let subRuta of ruta['children']" matListItemLine>-->
<!--                    <span class="ml-8 grow">{{subRuta['title']}}</span>-->
<!--                    <mat-checkbox [disabled]="deshabilitarLista" color="primary" [checked]="subRuta['acceso']" (change)="cambioTercerNivel($event, grupo, expandible, ruta,subRuta, empleado)">-->
<!--                        P-s-r-->
<!--                    </mat-checkbox>-->
<!--                    <mat-checkbox [disabled]="deshabilitarLista" color="primary" [checked]="subRuta['puedeAsigPermisos']" (change)="cambioSegNivel($event, grupo, expandible, ruta, empleado)">-->
<!--                        P-s-c-->
<!--                    </mat-checkbox>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</mat-list-item>-->
