<ng-container *ngIf="stateRoles.state$ | async as empleado">
    <section class="flex flex-auto flex-col" ngxUiLoaderBlurred>
        <ng-container *ngIf="empleado; else noHayDatos">
            <mat-list [disabled]="deshabilitarLista">
                <mat-list-item *ngFor="let grupo of empleado.roles">
                    <div class="text-primary text-lg" matListItemLine>{{grupo['title']}}</div>
                    <!--Nivel de grupo-->
                    <div class="ml-2 flex flex-auto flex-col" *ngFor="let exp of grupo['children']">
                        <div class="flex flex-auto items-center justify-between" matListItemLine>
                            <span class="flex-0 mr-2">{{exp['title']}}</span>
                            <div class="flex-auto border-b-2"></div>

                            <mat-checkbox [checked]="exp['acceso']" color="primary" [disabled]="deshabilitarLista || (stateAuth.snapshot.auth.guards | navegacionPermiso: 'nose')"
                                          *ngIf="exp['type'] === 'basic'" matTooltip="Acceso a ruta"
                                          (change)="actRutas($event, grupo, exp,null,null, empleado, true, 1)">
                            </mat-checkbox>

                            <mat-checkbox [checked]="exp['puedeAsigPermisos']" color="warn" [disabled]="deshabilitarLista" *ngIf="exp['type'] === 'basic'" matTooltip="Puede asignar permisos"
                                          (change)="actRutas($event, grupo, exp,null,null, empleado, false, 1)">
                            </mat-checkbox>
                        </div>
                        <!--Permisos a controles-->
                        <div class="ml-2 flex flex-col flex-auto" *ngFor="let ctrlNivel1 of exp['controles']">
                            <div class="flex flex-auto items-center justify-between" matListItemLine>
                                <span class="flex-0 text-secondary mr-2">{{ctrlNivel1['title']}}</span>
                                <div class="flex-auto border-b-2"></div>
                                <mat-checkbox [checked]="ctrlNivel1['activo']" color="primary" [disabled]="deshabilitarLista" matTooltip="Acciones de la ruta"
                                              (change)="actCtrl($event, grupo, exp, null, null, empleado, ctrlNivel1, 1)"></mat-checkbox>
                            </div>
                        </div>

                        <!--Segundo nivel-->
                        <div class="ml-4 flex flex-col flex-auto" *ngFor="let expRuta of exp['children']">
                            <div class="flex flex-auto items-center justify-between" matListItemLine>
                                <span class="flex-0 mr-2">{{expRuta['title']}}</span>
                                <div class="flex-auto border-b-2"></div>

                                <mat-checkbox [checked]="expRuta['acceso']" color="primary" [disabled]="deshabilitarLista" *ngIf="expRuta['type'] === 'basic'" matTooltip="Acceso a ruta"
                                              (change)="actRutas($event, grupo, exp, expRuta,null, empleado, true, 2)">
                                </mat-checkbox>
                                <mat-checkbox [checked]="expRuta['puedeAsigPermisos']" color="warn" [disabled]="deshabilitarLista" *ngIf="expRuta['type'] === 'basic'" matTooltip="Puede asignar permiso"
                                              (change)="actRutas($event, grupo, exp, expRuta,null, empleado, false, 2)">
                                </mat-checkbox>
                            </div>
                            <!--Permiso controles segundo nivel-->
                            <div class="ml-2 flex flex-col flex-auto" *ngFor="let ctrlNivel2 of expRuta['controles']">
                                <div class="flex flex-auto items-center justify-between" matListItemLine>
                                    <span class="flex-auto text-secondary">{{ctrlNivel2['title']}}</span>
                                    <mat-checkbox [checked]="ctrlNivel2['activo']" [disabled]="deshabilitarLista" matTooltip="Acciones de la ruta"
                                                  (change)="actCtrl($event, grupo, exp, expRuta, null, empleado, ctrlNivel2, 2)"></mat-checkbox>
                                </div>
                            </div>

                            <!--Tercer nivel-->
                            <div class="ml-4 flex flex-col flex-auto" *ngFor="let subRuta of expRuta['children']">
                                <div class="flex flex-auto items-center justify-between" matListItemLine>
                                    <span class="flex-0 mr-2">{{subRuta['title']}}</span>
                                    <div class="flex-auto border-b-2"></div>
                                    <mat-checkbox [checked]="subRuta['acceso']" color="primary" [disabled]="deshabilitarLista"
                                                  *ngIf="subRuta['type'] === 'basic'" matTooltip="Acceso a ruta"
                                                  (change)="actRutas($event, grupo, exp, expRuta, subRuta, empleado,true, 3)">
                                    </mat-checkbox>
                                    <mat-checkbox [checked]="subRuta['puedeAsigPermisos']" color="warn" [disabled]="deshabilitarLista"
                                                  *ngIf="subRuta['type'] === 'basic'" matTooltip="Puede asignar permisos"
                                                  (change)="actRutas($event, grupo, exp, expRuta, subRuta, empleado, false, 3)">
                                    </mat-checkbox>
                                </div>

                                <div class="ml-2 flex flex-col flex-auto" *ngFor="let ctrlNivel3 of subRuta['controles']">
                                    <div class="flex flex-auto items-center justify-between" matListItemLine>
                                        <span class="flex-0 mr-2 text-secondary">{{ctrlNivel3['title']}}</span>
                                        <div class="flex-auto border-b-2"></div>
                                        <mat-checkbox [checked]="ctrlNivel3['activo']" color="primary" matTooltip="Acciones de la ruta" [disabled]="deshabilitarLista"
                                                      (change)="actCtrl($event, grupo, exp, expRuta, subRuta, empleado, ctrlNivel3, 3)"></mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </ng-container>
        <ngx-ui-loader [loaderId]="ngxLoader"></ngx-ui-loader>
    </section>
</ng-container>
<ng-template #noHayDatos>
    <app-sin-datos></app-sin-datos>
</ng-template>
