<form>
    <section class="flex flex-col flex-auto">
        <mat-form-field>
            <mat-label>Id Variable</mat-label>
            <input matInput readonly>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descripcion a mostrar para el DATO</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Trimestre</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Valor adicional</mat-label>
            <input matInput>
        </mat-form-field>
    </section>
</form>
<app-registros (registro)="regColumnasTabla()"></app-registros>
