<mat-drawer-container class="w-full">
    <mat-drawer class="w-80" opened="true" autoFocus="false" mode="side" position="start">
        <div class="flex flex-col flex-auto mt-2">
            <div class="overflow-y-auto flex-auto" ngxUiLoaderBlurred>
                <ng-container *ngIf="entityTelemetria.entitiesArray$ | async as inst">
                    <div class="flex flex-auto flex-col pl-1">
                        <mat-selection-list multiple="false" color="primary">
                            <mat-list-option class="border-b-2" *ngFor="let instalacion of inst" (selectedChange)="seleccionarInstalacion(instalacion)">{{instalacion.instalacion.nombre}}</mat-list-option>
                        </mat-selection-list>
                    </div>
                </ng-container>
                <ngx-ui-loader [loaderId]="ngxLoader"></ngx-ui-loader>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
