<mat-drawer-container class="w-full">
    <mat-drawer class="w-80" opened="true" autoFocus="false" mode="side" position="start">
        <div class="flex flex-col flex-auto mt-2">
            <div class="overflow-y-auto flex-auto" ngxUiLoaderBlurred>
                <ng-container>
                    <div class="flex flex-auto flex-col border-b-2 pl-1">
                        <span class="leading-relaxed cursor-pointer odd:bg-gray-300 dark:odd:bg-gray-900 hover:text-primary py-2"
                              *ngFor="let telemetria of entityTelemetria.entitiesArray$ | async">{{telemetria.instalacion.nombre}}</span>
                    </div>
                </ng-container>
                <ngx-ui-loader [loaderId]="ngxLoader"></ngx-ui-loader>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
