<form [formGroup]="formDepto">
    <div class="flex flex-col">
        <mat-form-field>
            <mat-label>Nombre del departamento</mat-label>
            <input type="text" formControlName="nombre">
            <mat-error *ngIf="formDepto.controls.nombre.errors">{{formDepto.controls.nombre.errors.required.message}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Centro gestor</mat-label>
            <input type="text" formControlName="centroGestor">
            <mat-error>{{formDepto.controls.centroGestor['errorMessage']}}</mat-error>
        </mat-form-field>
    </div>
</form>

<app-registros></app-registros>
