<section>
    <mat-card class="bg-gray-300 dark:bg-gray-800 m-4">
        <mat-card-header class="tarjeta-mat-cabecera border-b-green-400">
            <span class="text-xl">MIR</span>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="IdIndicador">
                    <div class="grid grid-cols-10 gap-4">
                        <span class="detalle-span text-amber-900 dark:text-amber-400 col-span-2">Centro Gestor</span>
                        <span class="border-b-2 col-span-3">Direccion de Archivo y Mejora Regulatoria</span>
                        <span class="detalle-span">Nivel</span>
                        <span class="border-b-2">FIN</span>
                        <span class="detalle-span col-span-2">Programa financiacion</span>
                        <span class="border-b-2">E000101</span>

                        <span class="detalle-span col-span-2">Supuestos</span>
                        <span class="border-b-2 col-span-3">"Se mantiene un crecimiento ordenado de la población."</span>
                        <span class="detalle-span col-span-2">Nombre del indicador</span>
                        <span class="border-b-2 col-span-3">Incremento en la cobertura del servicio de agua potable y drenaje.
</span>
                        <span class="detalle-span col-span-2">Metodo de calculo</span>
                        <span class="border-b-2 col-span-3">(Total de viviendas con servicios de agua potable en el período evaluado /Total de viviendas de usuarios del municipio)*100%
</span>

                        <span class="detalle-span col-span-2">Medios de verificacion</span>
                        <span class="border-b-2 col-span-3">Reporte del Consejo de SIMAPAS respecto al total de la población con servicios.
</span>
                        <span class="detalle-span col-span-2">Resumen narrativo</span>
                        <span class="border-b-2 col-span-8">Contribuir a mejorar la calidad de vida poblacional del Municipio de Dolores Hidalgo, a través de la ampliación, mejora y cobertura de  los servicios públicos que brinda el SIMAPAS.</span>

                        <span class="detalle-span">Tipo</span>
                        <span class="border-b-2">Estratégico</span>
                        <span class="detalle-span">Dimension</span>
                        <span class="border-b-2">Calidad</span>
                        <span class="detalle-span">U. Medida</span>
                        <span class="border-b-2">Viviendas</span>
                        <span class="detalle-span">Frec. Med</span>
                        <span class="border-b-2">Semestral</span>
                        <span class="detalle-span">Sentido. Ind</span>
                        <span class="border-b-2">ASC</span>

                        <span class="detalle-span col-start-7">Linea base año</span>
                        <span class="detalle-span">2021</span>
                        <span class="detalle-span">Valor</span>
                        <span class="border-b-2">65%</span>

                        <span class="detalle-span col-start-5">Sem. Verde</span>
                        <span class="border-b-2 bg-green-900 text-black">45</span>
                        <span class="detalle-span">Sem. Amarillo</span>
                        <span class="border-b-2 bg-amber-500 text-black">56</span>
                        <span class="detalle-span">Sem. Rojo</span>
                        <span class="border-b-2 bg-red-700 text-black">52</span>

                        <span class="detalle-span">Trimestre 1</span>
                        <span class="border-b-2">45</span>
                        <span class="detalle-span">Trimestre 2</span>
                        <span class="border-b-2">56</span>
                        <span class="detalle-span">Trimestre 3</span>
                        <span class="border-b-2">26</span>
                        <span class="detalle-span">Trimestre 4</span>
                        <span class="border-b-2">65</span>
                        <span class="detalle-span">Anual</span>
                        <span class="border-b-2">90</span>
                    </div>
                    <div class="flex flex-auto gap-4 mt-8">
                        <button mat-raised-button color="primary" class="flex-auto" (click)="regAvances()">
                            <mat-icon svgIcon="add"></mat-icon>
                            Registrar avances
                        </button>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
    </mat-card>
</section>
