<ng-container *ngIf="planeacionQuery.selectActive() | async as planeacion">
    <article class="flex flex-col flex-auto">
        <mat-card class="bg-gray-300 dark:bg-gray-800 m-4 flex-auto" @zoomIn>
            <mat-card-header class="tarjeta-mat-cabecera border-b-green-400">
                <span class="text-xl">{{planeacion?.descripcion}} - {{planeacion?.ano}}</span>
            </mat-card-header>
            <mat-card-title>
                <mat-expansion-panel class="mb-4 border-b-cyan-400 border-b-2">
                    <mat-expansion-panel-header class="border-b-2 border-b-cyan-400">
                        <mat-panel-title>Elementos MIR</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-button-toggle-group>
                        <div class="flex flex-auto flex-wrap">
                            <mat-button-toggle class="rounded-none" *ngFor="let mir of cuestionarioMirArray(); trackBy:trackByFn" [value]="mir" (change)="cambioDeSeleccion($event)">
                                <span class="text-left">{{mir?.idIndicador}}</span>
                            </mat-button-toggle>
                        </div>
                    </mat-button-toggle-group>
                </mat-expansion-panel>
            </mat-card-title>
            <mat-card-content>
                <div class="grid grid-cols-8 gap-4">
                    <!--                <span class="border-b-2 text-xl text-green-600 text-center">{{elementoMir?.idIndicador}}</span>-->
                    <span class="detalle-span">Nivel</span>
                    <span class="border-b-2">{{cuestionarioMir()?.nivel}}</span>
                    <span class="detalle-span">Programa financiacion</span>
                    <span class="border-b-2">{{cuestionarioMir()?.programaFinanciacion}}</span>
                    <span class="detalle-span">CentroGestor</span>
                    <span class="border-b-2 col-span-3">{{cuestionarioMir()?.centroGestor}}</span>

                    <span class="detalle-span">Definicion del indicador</span>
                    <span class="border-b-2">{{cuestionarioMir()?.definicionIndicador}}</span>
                    <span class="detalle-span">Medios de verificacion</span>
                    <span class="border-b-2">{{cuestionarioMir()?.mediosVerificacion}}</span>
                    <span class="detalle-span">Supuestos</span>
                    <span class="border-b-2 col-span-3">{{cuestionarioMir()?.supuestos}}</span>

                    <span class="detalle-span">Resumen narrativo</span>
                    <span class="border-b-2 col-span-7">{{cuestionarioMir()?.resumenNarrativo}}</span>

                    <span class="detalle-span">tipo</span>
                    <span class="border-b-2">{{cuestionarioMir()?.tipo}}</span>
                    <span class="detalle-span">Dimension</span>
                    <span class="border-b-2">{{cuestionarioMir()?.dimension}}</span>
                    <span class="detalle-span">Unidad medida</span>
                    <span class="border-b-2">{{cuestionarioMir()?.unidadDeMedida}}</span>
                    <span class="detalle-span">Frecuencia de med</span>
                    <span class="border-b-2">{{cuestionarioMir()?.frecuenciaMedicion}}</span>

                    <span class="detalle-span">Nombre del indicador</span>
                    <span class="border-b-2 col-span-7">{{cuestionarioMir()?.nombreDelIndicador}}</span>

                    <span class="detalle-span">Metodo de calculo</span>
                    <span class="border-b-2 col-span-7 text-green-600">{{cuestionarioMir()?.metodoCalculo}}</span>

                    <span class="detalle-span">Linea base año</span>
                    <span class="border-b-2">{{cuestionarioMir()?.lineaBaseAno}}</span>
                    <span class="detalle-span">Linea base valor</span>
                    <span class="border-b-2">{{cuestionarioMir()?.lineaBaseValor}}</span>
                    <span class="detalle-span">Meta</span>
                    <span class="border-b-2">{{cuestionarioMir()?.meta}}</span>
                    <span class="detalle-span">Sentido del indicador</span>
                    <span class="border-b-2">{{cuestionarioMir()?.sentidoDelIndicador}}</span>

                    <span class="detalle-span col-start-3">Semaforo verde</span>
                    <span class="border-b-2 text-green-600 text-lg">{{(cuestionarioMir()?.meta * cuestionarioMir()?.semefVerdeV) / 100}}</span>
                    <span class="detalle-span">Semaforo amarillo</span>
                    <span class="border-b-2 text-amber-600 text-lg">{{(cuestionarioMir()?.meta * cuestionarioMir()?.semefAmarilloV) / 100}}</span>
                    <span class="detalle-span">Semaforo rojo</span>
                    <span class="border-b-2 text-red-600 text-lg">{{(cuestionarioMir()?.meta * cuestionarioMir()?.semefRojoV) / 100}}</span>

                    <span class="detalle-span">Avance trim1</span>
                    <span class="border-b-2 text-cyan-500">{{cuestionarioMir()?.avanceTrim1}}</span>
                    <span class="detalle-span">Avance trim2</span>
                    <span class="border-b-2 text-cyan-500">{{cuestionarioMir()?.avanceTrim2}}</span>
                    <span class="detalle-span">Avance trim3</span>
                    <span class="border-b-2 text-cyan-500">{{cuestionarioMir()?.avanceTrim3}}</span>
                    <span class="detalle-span">Avance trim4</span>
                    <span class="border-b-2 text-cyan-500">{{cuestionarioMir()?.avanceTrim4}}</span>


                    <span class="detalle-span col-start-7">Avance anual</span>
                    <span class="border-b-2">{{cuestionarioMir()?.avanceAnual}}</span>
                </div>
                <ngx-ui-loader [loaderId]="loader"></ngx-ui-loader>
            </mat-card-content>
            <mat-card-actions class="tarjeta-mat-acciones border-t-green-400">
                <div class="flex flex-auto gap-4">
                    <button mat-raised-button color="primary" class="flex-auto" (click)="nuevoElemento()">
                        <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                        Nuevo registro
                    </button>
                    <button mat-raised-button color="accent" class="flex-auto" (click)="editarRegistro()">
                        <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                        Editar registro
                    </button>
                    <button mat-raised-button color="warn" class="flex-auto" (click)="eliminarReg()">
                        <mat-icon svgIcon="mat_outline:delete"></mat-icon>
                        Eliminar registro
                    </button>
                    <button mat-raised-button color="accent" class="flex-auto" (click)="imprimirMir()">
                        <mat-icon svgIcon="heroicons_outline:printer"></mat-icon>
                        Imprimir
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
        <ng-container *ngIf="cuestionarioMir">
<!--            <app-componentes [mirCuestionario]="cuestionarioMir"></app-componentes>-->
        </ng-container>
    </article>
</ng-container>
