<div class="py-10">
    <!-- Add any extra content that might be supplied with the component -->
    <div class="extra-content">
        <ng-content></ng-content>
    </div>

    <!-- Fixed demo sidebar -->
    <fuse-vertical-navigation [appearance]="'default'" [navigation]="menuData" [inner]="true" [mode]="'side'" [name]="'menuEmpleado'" [opened]="true"></fuse-vertical-navigation>
    <!-- Users -->
<!--    <div class="mx-6 mt-10">-->
<!--        <div class="flex items-center">-->
<!--            <mat-icon class="mr-2 icon-size-5" [svgIcon]="'heroicons_solid:users'"></mat-icon>-->
<!--            <div class="text-lg font-semibold">Empleados</div>-->
<!--        </div>-->
<!--    </div>-->
</div>
