<app-tarjeta-contenido-scroll>
    <ng-container titulo>
        Departamentos
    </ng-container>
    <ng-container acciones>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button mat-flat-button color="primary" (click)="registro()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                Nuevo
            </button>
        </div>
    </ng-container>
    <ng-container contenido>
        <app-lista-deptos *ngIf="!datosCargados; else cargando "></app-lista-deptos>
    </ng-container>
</app-tarjeta-contenido-scroll>

<ng-template #cargando>
    <div class="flex flex-row">
        <ngx-skeleton-loader appearance="line" class="w-full" animation="progress" count="5" loadingText="Cargando..."
                             [theme]="{width: '100%', 'border-radius': '10', height:'90px', 'background-color': 'gray', 'animation-duration': '2s'}">
        </ngx-skeleton-loader>
    </div>
</ng-template>
