<app-tarjeta-contenido-scroll>
    <ng-container titulo>
        Departamentos
    </ng-container>
    <ng-container acciones>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button mat-flat-button color="primary" (click)="registro()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                Nuevo
            </button>
        </div>
    </ng-container>
    <ng-container contenido>
        <!--        <div [@animate]="{value:'1000',params:{y:'100%'}}">-->

        <!--        </div>-->
        <div></div>
    </ng-container>
</app-tarjeta-contenido-scroll>
