<div class="flex flex-col w-full">
    <!-- Header -->
    <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
        <!-- Background -->
        <img class="absolute inset-0 object-cover w-full h-full" [src]="'assets/images/fondos/fondoPerfilEmpleado.jpg'" alt="Fondo">
        <!-- Close button -->
        <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
            <button mat-icon-button [matTooltip]="'Cerrar panel'" (click)="cerrarP()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Empleado -->
    <div class="relative flex flex-col flex-auto items-center p-2 pt-0 sm:p-12 sm:pt-0">
        <ng-container *ngIf="empleado$ | async as empleado">
            <ng-container *ngIf="empleado">
                <section class="w-full max-w-3xl">
                    <!-- Avatar and actions -->
                    <div class="flex flex-auto items-end -mt-16">
                        <!-- Avatar -->
                        <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                            <img class="avatar w-full h-full" [src]="empleado.avatar | imgDefecto" alt="Avatar">
                        </div>
                        <div class="flex items-center ml-auto mb-1">
                            <button mat-stroked-button (click)="asignarSesion(empleado)">
                                <mat-icon class="icon-size-5" [svgIcon]="empleado?.auth ? 'heroicons_solid:key' : 'heroicons_outline:user-add'"></mat-icon>
                                <span class="ml-2">{{empleado?.auth ? 'Modificar contrasena' : 'Asignar Sesion'}}</span>
                            </button>
                        </div>
                    </div>
                    <!-- Name -->
                    <div class="mt-3 text-2xl text-primary-500">{{empleado?.nombreCompleto}}</div>
                </section>
            </ng-container>

            <ng-container *ngIf="empleado.auth !== null && empleado.auth.usuario !== 'administrador'">
                <section class="flex flex-col w-full" *ngFor="let grupo of empleado.auth.role">
                    <div class="text-primary py-2 flex-auto">{{grupo.title}}</div>
                    <div class="flex-auto" *ngFor="let expandible of grupo.children">
                        <span class="pb-2">{{expandible['title']}}</span>
                        <mat-selection-list>
                            <mat-list-option color="primary" *ngFor="let ruta of expandible.children">{{ruta['title']}}</mat-list-option>
                        </mat-selection-list>
                    </div>
                </section>
            </ng-container>

        </ng-container>
    </div>
</div>


<!--<ng-container *ngIf=" (empleado$ | async) as empleado
            ">-->
<!--    <section class="sticky flex flex-col h-screen overflow-y-auto" *ngIf="empleado.auth !== null">-->
<!--        <div class="border-b-2 py-2 flex flex-col flex-auto" *ngFor="let rol of empleado.auth.role">-->
<!--            {{rol.title}}-->
<!--            <div class="pl-4 flex flex-col flex-auto" *ngFor="let sub of rol.children">-->
<!--                {{sub.title}}-->
<!--                <mat-selection-list>-->
<!--                    <mat-list-option *ngFor="let ruta of sub.children" color="primary" [value]="ruta.acceso">-->
<!--                        {{ruta.title}}-->
<!--                    </mat-list-option>-->
<!--                </mat-selection-list>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</ng-container>-->
