<ng-container *ngIf="(empleado$ | async) as empleado">
    <section class="sticky flex flex-col h-screen overflow-y-auto" *ngIf="empleado.auth !== null">
        <div class="border-b-2 py-2 flex flex-col flex-auto" *ngFor="let rol of empleado.auth.role">
            {{rol.title}}
            <div class="pl-4 flex flex-col flex-auto" *ngFor="let sub of rol.children">
                {{sub.title}}
                <mat-selection-list>
                    <mat-list-option *ngFor="let ruta of sub.children" color="primary" [value]="ruta.acceso">
                        {{ruta.title}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </section>
</ng-container>
