<ng-container *ngIf="empleado$ | async as empleado">
<mat-selection-list>

</mat-selection-list>
</ng-container>
<!--<mat-list>-->
<!--    <mat-list-item *ngFor="let grupo of empleado.auth.role">-->
<!--        <span matListItemTitle>{{grupo.title}}</span>-->
<!--        <div *ngFor="let ruta of grupo.children" class="flex flex-col flex-auto">-->
<!--            <span matListItemLine>{{ruta.title}}</span>-->
<!--            <div matListItemLine *ngFor="let subRuta of ruta.children" class="pl-4">{{subRuta.title}}</div>-->
<!--        </div>-->
<!--    </mat-list-item>-->
<!--</mat-list>-->
