<form>
    <section class="flex flex-col flex-auto">
        <div class="flex flex-auto gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Enero</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Febrero</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Marzo</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="flex flex-auto gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Abril</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Mayo</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Junio</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="flex flex-auto gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Julio</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Agosto</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Septiembre</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="flex flex-auto gap-4">
            <mat-form-field class="flex-auto">
                <mat-label>Octubre</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Noviembre</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto">
                <mat-label>Diciembre</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </section>
</form>
<app-registros></app-registros>
