<mat-dialog-content>
    <div class="flex flex-col">
        <mat-form-field>
            <mat-label>Selecciona de nuevo a los usuarios</mat-label>
            <mat-select multiple [formControl]="formSelect">
                <mat-option *ngFor="let empleado of empleadoQuery.selectAll() | async" [value]="empleado._id">{{empleado.nombreCompleto}}</mat-option>
                <mat-error>{{formSelect.errors}}</mat-error>
            </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>
<app-registros (registro)="cambiarUsuarios()" (cancelar)="dRef.close()" [deshabilitar]="formSelect.invalid || cargando" [cargando]="cargando"></app-registros>
