<article class="flex flex-col flex-auto p-4" @zoomIn>
    <mat-card class="my-2">
        <mat-card-content>
            <section class="flex flex-col">
                <mat-form-field class="flex-auto" *ngIf="seleccionQuery.select() | async as deptos">
                    <mat-label>Seleccionar departamento</mat-label>
                    <mat-select (valueChange)="cambioDepto($event)">
                        <mat-option *ngFor="let depto of deptos.centroGestor" [value]="depto">{{depto}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="flex flex-auto gap-4">
                    <mat-selection-list class="flex-auto overflow-y-auto border-2 rounded-lg h-100" color="primary" multiple="false">
                        <mat-list-option class="border-b-2" *ngFor="let pbr of filPbr" [value]="pbr" (dblclick)="dobleClickPbr(pbr)">
                            {{pbr.idIndicador}} - {{pbr.dato}}</mat-list-option>
                    </mat-selection-list>

                    <mat-selection-list *ngIf="filSumatorias.length > 0" class="flex-auto overflow-y-auto border-2 rounded-lg h-100" color="primary" multiple="false">
                        <mat-list-option class="border-b-2" *ngFor="let sumatoria of filSumatorias" value="pbr" (dblclick)="dobleClickSumatoria(sumatoria)">
                            {{sumatoria.idSumatoria}} - {{sumatoria.nombreSumatoria}}</mat-list-option>
                    </mat-selection-list>
                </div>
            </section>
        </mat-card-content>
    </mat-card>

    <fuse-alert [type]="'info'" appearance="border">
        <span fuseAlertTitle>{{definicionIndicador}}</span>
        {{metodoDeCalculo}}
    </fuse-alert>

    <mat-card class="my-2">
        <mat-card-content>
            <section class="flex flex-auto flex-col">
                <mat-form-field class="flex-auto">
                    <mat-label>Define las cabeceras para las columnas</mat-label>
                    <mat-chip-grid #chipGrid [disabled]="deshabilitarChips">
                        <mat-chip-row color="primary" *ngFor="let cabecera of tituloCols; let i=index" (removed)="remover(cabecera)" [editable]="false">
                            {{cabecera}}
                            <button matChipRemove [disabled]="i === 0 || i === 1">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        <input placeholder="Nueva columna" [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separador" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="agregar($event)">
                    </mat-chip-grid>
                </mat-form-field>

                <form class="flex-auto" [formGroup]="formDinamico" *ngIf="formDinamico">
                    <div class="flex flex-auto gap-4">
                        <div class="flex flex-auto flex-col" *ngFor="let ctrlNombre of tituloCols; let i=index; trackBy:trackByCtrls">
                            <mat-form-field class="flex-auto">
                                <mat-label>{{ctrlNombre}}</mat-label>
                                <input #listaCtrls [name]="ctrlNombre" matInput formControlName="{{ctrlNombre | obtenerIdForm: PrefFormDin.idIndicador}}"
                                       (focus)="focoInput(ctrlNombre, i, PrefFormDin.idIndicador)">
                            </mat-form-field>
                            <mat-form-field class="flex-shrink-0">
                                <mat-label>Valores trimestre</mat-label>
                                <input matInput class="text-center" [value]="trim1">
                                <input matInput class="text-center" [value]="trim2">
                                <input matInput class="text-center" [value]="trim3">
                                <input matInput class="text-center" [value]="trim4">
                            </mat-form-field>
                            <ng-container *ngIf="mostrarPeriodoAnt">
                                <mat-form-field class="flex-shrink-0">
                                    <mat-label>Trimestre anterior</mat-label>
                                    <input matInput placeholder="T1" class="text-center" formControlName="{{ctrlNombre | obtenerIdForm: PrefFormDin.ant1}}">
                                    <input matInput placeholder="T2" class="text-center" formControlName="{{ctrlNombre | obtenerIdForm: PrefFormDin.ant2}}">
                                    <input matInput placeholder="T3" class="text-center" formControlName="{{ctrlNombre | obtenerIdForm: PrefFormDin.ant3}}">
                                    <input matInput placeholder="T4" class="text-center" formControlName="{{ctrlNombre | obtenerIdForm: PrefFormDin.ant4}}">
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>
                </form>
                <mat-checkbox color="primary" (change)="chkPeriodoAnt($event)" [disabled]="deshabilitarChk">Utilizar valores del trimestre anterior</mat-checkbox>
            </section>
        </mat-card-content>

        <mat-card-content>
            <div class="flex flex-auto flex-col">
                <button mat-raised-button color="primary" class="flex-auto" (click)="agregarLista()" [disabled]="cargando">
                    <mat-icon svgIcon="feather:chevrons-up"/>
                    Agregar a lista
                </button>
            </div>
        </mat-card-content>

        <mat-card-content class="my-2">
            <mat-accordion>
                <mat-expansion-panel (opened)="expander = true" (closed)="expander = false" class="bg-zinc-900 mb-2">
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            Acontinuacion puedes ver la iformacion que haz añadido, realiza tus calculos con los ids estos hacen referencia a todos sus trimestres que corresponden
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-tabla-mat [columnas]="columnas" [datos]="datosTabla"/>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>

        <mat-card-content>
            <form [formGroup]="formTipoValores">
                <section class="flex flex-auto flex-col">
                    <div class="flex flex-auto gap-4 items-center content-center">
                        <mat-form-field class="flex-auto">
                            <mat-label>Selecciona el tipo de valor definido para los trimestres</mat-label>
                            <mat-select formControlName="tipoValorTrim">
                                <mat-option *ngFor="let valor of tipoValores" [value]="valor">{{valor}}</mat-option>
                            </mat-select>
                            <mat-error>{{formTipoValores.controls.tipoValorTrim['errorMessage']}}</mat-error>
                        </mat-form-field>

                        <mat-form-field class="flex-auto">
                            <mat-label>Selecciona el tipo de valor en el que se mostraran los avances</mat-label>
                            <mat-select formControlName="tipoValorAvance">
                                <mat-option *ngFor="let valor of tipoValores" [value]="valor">{{valor}}</mat-option>
                            </mat-select>
                            <mat-error>{{formTipoValores.controls.tipoValorAvance['errorMessage']}}</mat-error>
                        </mat-form-field>
                    </div>
                    <fuse-alert [type]="'warn'" appearance="fill" class="mt-2">
                        <span fuseAlertTitle>Importante</span>
                        <ol>
                            <li>Cada id agregado tendra hara referencia a todos sus trimestres por lo que solo necesitas el id para realizar tus calculos</li>
                            <li>Si necesitas hacer calculos con valores anteriores utiliza el sufijo <strong>__Ant</strong> en el id que necesites</li>
                        </ol>
                    </fuse-alert>
                    <div class="flex flex-auto gap-4">
                        <mat-form-field class="flex-auto">
                            <mat-label>Formula para calcular avance trimestral</mat-label>
                            <input matInput formControlName="formula" (dblclick)="dblFormula()">
                            <mat-error>{{formTipoValores.controls.formula['errorMessage']}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="flex-shrink">
                            <mat-label>Etiqueta</mat-label>
                            <input matInput formControlName="etiqueta">
                        </mat-form-field>
                    </div>
                </section>
            </form>
        </mat-card-content>
        <mat-card-actions class="tarjeta-mat-acciones border-t-green-400">
            <div class="flex flex-auto gap-4">
                <button mat-raised-button color="primary" class="flex-auto" (click)="regComponente()" [disabled]="cargando">
                    <mat-icon svgIcon="mat_solid:save"/>
                    Registrar componente
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</article>
