<mat-drawer-container>
    <mat-drawer class="{{anchoIzq}} dark:bg-gray-900" [mode]="drawerModeIzq" [opened]="panelIzq$ | async" position="start" autoFocus="false" [disableClose]="true" #matDrawerIzq>
        <ng-content select="[panelIzq]"></ng-content>
    </mat-drawer>

    <mat-drawer-content class="h-screen h-full">
        <ng-content select="[contenido]"></ng-content>
    </mat-drawer-content>
    <mat-drawer class="{{anchoDer}} dark:bg-gray-900" [mode]="drawModeDer" [opened]="panelDer$ | async" position="end" autoFocus="false" [disableClose]="true" #matDrawerDer>
        <ng-content select="[panelDer]"></ng-content>
    </mat-drawer>
</mat-drawer-container>
