<form>
    <section class="flex flex-auto gap-2">
        <mat-form-field>
            <mat-label>Id ind</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nivel</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prog. Fin</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Resume narrativo</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Centro gestor</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre del ind</mat-label>
            <input matInput>
        </mat-form-field>
    </section>
</form>
