<div class="flex flex-col w-full">
    <!-- Header -->
    <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
        <!-- Background -->
        <img class="absolute inset-0 object-cover w-full h-full" [src]="'assets/images/fondos/fondoPerfilEmpleado.jpg'" alt="Fondo">
        <!-- Close button -->
        <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
            <button mat-icon-button [matTooltip]="'Cerrar panel'" (click)="abrir()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Empleado -->
    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
        <div class="w-full max-w-3xl">
            <!-- Avatar and actions -->
            <div class="flex flex-auto items-end -mt-16">
                <!-- Avatar -->
                <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                    <img class="object-cover w-full h-full" *ngIf="_empleado?.avatar" [src]="_empleado?.avatar" alt="Avatar">
                    <div class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                         *ngIf="!_empleado?.avatar">
                        {{_empleado?.nombreCompleto?.charAt(0)}}
                    </div>
                </div>
                <div class="flex items-center ml-auto mb-1">
                    <button mat-stroked-button (click)="asignarSesion(_empleado)">
                        <mat-icon class="icon-size-5" [svgIcon]="_empleado?.auth ? 'heroicons_solid:key' : 'heroicons_outline:user-add'"></mat-icon>
                        <span class="ml-2">{{_empleado?.auth ? 'Modificar contrasena' : 'Asignar Sesion'}}</span>
                    </button>
                </div>
            </div>

            <!-- Name -->
            <div class="mt-3 text-4xl font-bold truncate">{{_empleado?.nombreCompleto}}</div>

            <!--Tags -->
            <div class="flex flex-wrap items-center mt-2">
                <!-- Tag -->
                <div class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                    <span class="text-sm font-medium whitespace-nowrap">Puesto</span>
                </div>
            </div>
            <ng-container *ngIf="_empleado?.auth">
                <div class="flex flex-col mt-4 pt-6 border-t space-y-4">
                    <div class="flex sm:items-center border-b pb-6">
                        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                        <div class="ml-6 leading-6">{{_empleado?.auth?.usuario}}</div>
                    </div>
                    <!-- Permisos -->
                    <div class="flex sm:items-center">
                        <div class="font-bold text-2xl leading-6 text-amber-600">Permisos</div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="_empleado.auth && _empleado.auth.rol.length">
                <ng-container *ngFor="let permiso of _empleado.auth.rol; let i = index; trackBy: trackByFn">
                    <div class="z-20 flex items-center px-6 py-4 md:px-8 border-b hover:bg-gray-100 dark:hover:bg-gray-700 bg-on-primary-800 dark:bg-hover my-1">
                        <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                            <ng-container>
                                <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                    <mat-icon class="text-amber-600" [svgIcon]="'heroicons_outline:library'"></mat-icon>
                                </div>
                            </ng-container>
                        </div>
                        <div class="flex w-full items-center">
                            <div class="ml-4 flex-grow">
                                <div class="font-medium truncate">Cartera vencida y comercializacion</div>
                                <!--                                <div class="leading-5 truncate text-secondary">{{permiso.tipoAcceso}}</div>-->
                            </div>
                            <mat-button-toggle-group>
                                <mat-button-toggle value="ninguno">
                                    <mat-icon [svgIcon]="'heroicons_outline:lock-closed'"></mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle value="lectura">
                                    <mat-icon [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle value="todo">
                                    <mat-icon [svgIcon]="'heroicons_outline:lock-open'"></mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

        </div>
    </div>
</div>
