<section class="flex flex-auto flex-col">
    <app-acciones-mir-pbr [habCentroGestor]="false">
        <ng-container acciones>
            <button mat-raised-button color="primary" (click)="asignarActividad()">
                <mat-icon svgIcon="feather:user-check"/>
                Asignar actividad
            </button>
        </ng-container>
    </app-acciones-mir-pbr>
    <ng-container *ngIf="planeacionQuery.selectActive() | async as planeacion">
        <app-lista-pbr class="flex-auto" [desEditarReg]="true" [desNuevoReg]="true" [desEliminarReg]="true" [habilitarCtrls]="false"/>
    </ng-container>
    <app-lista-mir-seleccion [mirs]="planeacionQuery.compCuestionarioMir()"/>
    <app-componentes [desRegComp]="true"/>
</section>
