<ng-container *ngFor="let depto of _deptos; let i = index; trackBy: trackByFn">
    <!--    <div class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !deptoSeleccionado || deptoSeleccionado._id !== depto._id,-->
    <!--                                                'bg-primary-50 dark:bg-hover': deptoSeleccionado && deptoSeleccionado._id === depto._id}">   -->
    <div class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
        <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
            <ng-container>
                <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                    <!--                    {{depto.nombre.charAt(0)}}-->
                    <mat-icon [svgIcon]="'heroicons_outline:library'"></mat-icon>
                </div>
            </ng-container>
        </div>
        <div class="flex w-full">
            <div class="ml-4 flex-grow">
                <div class="font-medium leading-5 truncate">{{depto.nombre}}</div>
                <div class="leading-5 truncate text-secondary">{{depto.centroGestor}}</div>
            </div>
            <div>
                <button mat-icon-button type="button" (click)="editar(depto)">
                    <mat-icon class="text-green-800 dark:text-green-600">edit</mat-icon>
                </button>
                <button mat-icon-button type="button" (click)="eliminar(depto)">
                    <mat-icon class="text-red-800 dark:text-red-600">delete_sweep</mat-icon>
                </button>
            </div>
        </div>
    </div>
</ng-container>

