<article class="absolute inset-0 flex flex-auto flex-col p-4 overflow-hidden">
    <div class="relative flex bg-gray-300 dark:bg-gray-800 border-green-900 dark:border-emerald-400 p-4 rounded-lg border-b-8">
        <mat-form-field class="flex-auto">
            <mat-label>Filtrar empleados</mat-label>
            <input matInput placeholder="Introduce el nombre de un empleado">
        </mat-form-field>
    </div>
    <mat-divider class="mt-4 border-2"></mat-divider>

    <section class="relative overflow-y-auto flex basis-full flex-wrap gap-4 p-2">
        <mat-drawer-container class="flex-auto">
            <mat-drawer class="w-1/2" position="end" mode="side" autoFocus="false"></mat-drawer>
            <mat-drawer-content class="flex-flex-col">
                <div class="relative">
                    <ng-container *ngIf="entityEmpleado.entitiesArray$ | async as contacts">
                        <ng-container *ngIf="contacts.length; else noContacts">
                            <ng-container *ngFor="let contact of contacts; let i = index; trackBy: trackByFn">
                                <a class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                                   [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !empleadoSeleccionado || empleadoSeleccionado._id !== contact._id,
                                                'bg-primary-50 dark:bg-hover': empleadoSeleccionado && empleadoSeleccionado._id === contact._id}">
                                    <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                        <img class="object-cover w-full h-full" src="{{contact.avatar | imgDefecto}} " alt="x"/>
                                    </div>
                                    <div class="min-w-0 ml-4 flex gap-8">
                                        <div class="font-medium leading-5 truncate">{{contact?.nombreCompleto}}</div>
                                        <div class="leading-5 truncate text-secondary">{{contact?.deptoEmpleado?.nombre}}</div>
                                        <div class="leading-5 truncate text-secondary">{{contact?.puesto | defaultValue:'---'}}</div>
                                    </div>
                                </a>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <!-- No contacts -->
                    <ng-template #noContacts>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay contactos</div>
                    </ng-template>

                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </section>
</article>
