<mat-toolbar color="accent" class="border-b-4 border-b-orange-300 gap-8 items-center">

    <ng-container *ngIf="planeacionQuery.selectAll() | async as planeaciones">
        <mat-form-field class="flex-auto mt-5">
            <mat-select (selectionChange)="seleccionarPlaneacion($event.value)">
                <mat-option *ngFor="let planeacion of planeaciones" [value]="planeacion">{{planeacion.ano}}</mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="habCentroGestor">
        <ng-container *ngIf="seleccionQuery.select() | async as centros">
            <mat-form-field class="flex-auto mt-5">
                <mat-select (valueChange)="filCentroGestor($event)" placeholder="Filtrar por centro gestor">
                    <mat-option *ngFor="let centro of centros.centroGestor; trackBy: trackByFn" [value]="centro">{{centro}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
    </ng-container>

    <ng-content select="[acciones]">

    </ng-content>
</mat-toolbar>
