<mat-toolbar color="accent" class="border-b-4 border-b-orange-300 gap-8 items-center">
    <ng-container *ngIf="planeacionQuery.selectAll() | async as planes">
        <mat-form-field class="flex-auto mt-5">
            <mat-select (valueChange)="filAno($event)">
                <mat-option *ngFor="let plan of planes" [value]="plan._id">{{plan.ano}}</mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <ng-container *ngIf="habCentroGestor">
        <ng-container *ngIf="seleccionQuery.select() | async as centros">
            <mat-form-field class="flex-auto mt-5">
                <mat-select (valueChange)="filCentroGestor($event)" placeholder="Filtrar por centro gestor" [(value)]="bCentroGestor">
                    <mat-option *ngFor="let centro of centros.centroGestor; trackBy: trackByFn" [value]="centro">{{centro}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="habEmpleado">
        <app-seleccionar-empleado class="flex-auto mt-5" (empleadoSele)="filEmpleado($event)" [mostrarEtiqueta]="false" [formControl]="ctrlEmpleados"></app-seleccionar-empleado>
    </ng-container>
    <ng-content select="[acciones]">

    </ng-content>
</mat-toolbar>
