<mat-action-row class="flex flex-row gap-2">
    <button mat-raised-button color="warn" type="button" class="grow" (click)="cancelar()">
        <mat-icon [svgIcon]="'mat_outline:cancel'" class="icon-size-5 mr-2"></mat-icon>
        Cancelar
    </button>
    <button mat-raised-button color="primary" type="button" class="grow" (click)="aceptar()">
        <ng-container *ngIf="true; else cargando">
            <mat-icon [svgIcon]="'mat_outline:save'" class="icon-size-5 mr-2"></mat-icon>
            Aceptar
        </ng-container>
    </button>
</mat-action-row>

<ng-template #cargando>
    <mat-icon class="mr-2">
        <mat-progress-spinner mode="indeterminate" diameter="20" color="accent"></mat-progress-spinner>
    </mat-icon>
    Procesando...
</ng-template>

