<div class="flex flex-col">
    <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput [formControl]="ctrlDescripcion">
    </mat-form-field>
    <ng-container *ngIf="planeacionQuery.selectAll() | async as planeacionLista">
        <ng-container *ngIf="planeacionLista.length > 0">
            <mat-form-field>
                <mat-label>Selecciona un año si deseas una copia?</mat-label>
                <mat-select (valueChange)="seleccionDeAno($event)">
                    <mat-option *ngFor="let planeacion of planeacionLista" [value]="planeacion._id">{{planeacion.ano}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
    </ng-container>
</div>
<app-registros (click)="inicializarPlaneacion()" [cargando]="cargando" [deshabilitar]="cargando"></app-registros>
