<h2 mat-dialog-title>Registro de nuevos departamentos</h2>
<mat-dialog-content>
    <form *ngIf="formDepto" [formGroup]="formDepto">
        <div class="flex flex-col">
            <mat-form-field>
                <mat-label>Nombre del departamento</mat-label>
                <input matInput type="text" formControlName="nombre" appCapitalizar>
                <mat-error>{{formDepto.controls.nombre['errorMessage']}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Centro gestor</mat-label>
                <input matInput type="text" formControlName="centroGestor" trim>
                <mat-error>{{formDepto.controls.centroGestor['errorMessage']}}</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<!--<app-registros (reg)="registrar()" (can)="cancelar()" [cargando]="cargandoDatos" [deshabilitar]="formDepto.invalid || cargandoDatos"></app-registros>-->
<app-registros (reg)="registrar()" (can)="cancelar()" [cargando]="cargandoDatos"></app-registros>
